body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:63px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:63px;
}
#u1 {
  position:absolute;
  left:2px;
  top:24px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:224px;
  top:63px;
  width:1148px;
  height:714px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1148px;
  height:714px;
}
#u3 {
  position:absolute;
  left:2px;
  top:349px;
  width:1144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:7px;
  top:64px;
  width:200px;
  height:868px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:868px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
}
#u5 {
  position:absolute;
  left:223px;
  top:782px;
  width:1148px;
  height:150px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1148px;
  height:150px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6 {
  position:absolute;
  left:1310px;
  top:850px;
  width:50px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7 {
  position:absolute;
  left:10px;
  top:-1px;
  width:240px;
  height:60px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u8 {
  position:absolute;
  left:2px;
  top:22px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u2.a {
}
#u4.a {
  position:absolute;
  left:7px;
  top:64px;
  width:200px;
  height:868px;
}
#u4_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:868px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
}
#u5.a {
  position:absolute;
  left:223px;
  top:782px;
  width:1148px;
  height:150px;
}
#u5_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1148px;
  height:150px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6.a {
  position:absolute;
  left:1310px;
  top:850px;
  width:50px;
  height:25px;
}
#u6_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7.a {
}
body.b {  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.b {
}
#u2.b {
}
#u4.b {
  position:absolute;
  left:7px;
  top:64px;
  width:200px;
  height:868px;
}
#u4_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:868px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
}
#u5.b {
  position:absolute;
  left:223px;
  top:782px;
  width:1148px;
  height:150px;
}
#u5_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:1148px;
  height:150px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6.b {
  position:absolute;
  left:1310px;
  top:850px;
  width:50px;
  height:25px;
}
#u6_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7.b {
}
