body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1948px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1950px;
  height:63px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1950px;
  height:63px;
}
#u1 {
  position:absolute;
  left:2px;
  top:24px;
  width:1946px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:277px;
  top:0px;
  width:238px;
  height:63px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3 {
  position:absolute;
  left:515px;
  top:0px;
  width:238px;
  height:63px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#003366;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4 {
  position:absolute;
  left:754px;
  top:-1px;
  width:238px;
  height:63px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5 {
  position:absolute;
  left:983px;
  top:-2px;
  width:227px;
  height:63px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6 {
  position:absolute;
  left:1835px;
  top:17px;
  width:24px;
  height:24px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1859px;
  top:21px;
  width:46px;
  height:25px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#E6E6E6;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1747px;
  top:18px;
  width:24px;
  height:24px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1777px;
  top:20px;
  width:56px;
  height:25px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#E6E6E6;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:10px;
  top:0px;
  width:240px;
  height:60px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:63px;
  width:54px;
  height:822px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:822px;
}
#u17 {
  position:absolute;
  left:2px;
  top:403px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:125px;
  width:53px;
  height:62px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:62px;
}
#u19 {
  position:absolute;
  left:2px;
  top:23px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:-2px;
  top:197px;
  width:55px;
  height:58px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:58px;
}
#u21 {
  position:absolute;
  left:2px;
  top:21px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:-1px;
  top:63px;
  width:56px;
  height:63px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:63px;
}
#u23 {
  position:absolute;
  left:2px;
  top:24px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:10px;
  top:230px;
  width:40px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  background-color:#3385FF;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u25 {
  position:absolute;
  left:60px;
  top:118px;
  width:900px;
  height:325px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:325px;
}
#u26 {
  position:absolute;
  left:2px;
  top:154px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:1010px;
  top:119px;
  width:900px;
  height:325px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:325px;
}
#u28 {
  position:absolute;
  left:2px;
  top:154px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:54px;
  top:510px;
  width:900px;
  height:325px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:325px;
}
#u30 {
  position:absolute;
  left:2px;
  top:154px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:1010px;
  top:510px;
  width:900px;
  height:325px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:325px;
}
#u32 {
  position:absolute;
  left:2px;
  top:154px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:315px;
  top:452px;
  width:275px;
  height:40px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:40px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u34 {
  position:absolute;
  left:1322px;
  top:447px;
  width:275px;
  height:40px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:40px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u35 {
  position:absolute;
  left:340px;
  top:845px;
  width:275px;
  height:40px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:40px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u36 {
  position:absolute;
  left:1323px;
  top:845px;
  width:275px;
  height:40px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:40px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u37 {
  position:absolute;
  left:61px;
  top:63px;
  width:200px;
  height:55px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:55px;
}
#u38 {
  position:absolute;
  left:2px;
  top:20px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:263px;
  top:62px;
  width:200px;
  height:55px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:55px;
}
#u40 {
  position:absolute;
  left:2px;
  top:20px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:105px;
  top:70px;
  width:94px;
  height:38px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:38px;
  background-color:#3385FF;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u42 {
  position:absolute;
  left:314px;
  top:70px;
  width:90px;
  height:38px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:38px;
  background-color:#000000;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
body.a {  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1948px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.a {
}
#u2.a {
  position:absolute;
  left:277px;
  top:0px;
  width:238px;
  height:63px;
}
#u2_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3.a {
  position:absolute;
  left:515px;
  top:0px;
  width:238px;
  height:63px;
}
#u3_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#003366;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4.a {
  position:absolute;
  left:754px;
  top:-1px;
  width:238px;
  height:63px;
}
#u4_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5.a {
  position:absolute;
  left:983px;
  top:-2px;
  width:227px;
  height:63px;
}
#u5_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6.a {
}
#u8.a {
}
#u10.a {
}
#u12.a {
}
#u14.a {
}
#u16.a {
}
#u18.a {
}
#u20.a {
}
#u22.a {
}
#u24.a {
  position:absolute;
  left:10px;
  top:230px;
  width:40px;
  height:25px;
}
#u24_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  background-color:#3385FF;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u25.a {
}
#u27.a {
}
#u29.a {
}
#u31.a {
}
#u33.a {
  position:absolute;
  left:315px;
  top:452px;
  width:275px;
  height:40px;
}
#u33_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:40px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u34.a {
  position:absolute;
  left:1322px;
  top:447px;
  width:275px;
  height:40px;
}
#u34_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:40px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u35.a {
  position:absolute;
  left:340px;
  top:845px;
  width:275px;
  height:40px;
}
#u35_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:40px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u36.a {
  position:absolute;
  left:1323px;
  top:845px;
  width:275px;
  height:40px;
}
#u36_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:40px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u37.a {
}
#u39.a {
}
#u41.a {
  position:absolute;
  left:105px;
  top:70px;
  width:94px;
  height:38px;
}
#u41_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:38px;
  background-color:#3385FF;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u42.a {
  position:absolute;
  left:314px;
  top:70px;
  width:90px;
  height:38px;
}
#u42_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:38px;
  background-color:#000000;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
body.b {  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1948px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.b {
}
#u2.b {
  position:absolute;
  left:277px;
  top:0px;
  width:238px;
  height:63px;
}
#u2_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3.b {
  position:absolute;
  left:515px;
  top:0px;
  width:238px;
  height:63px;
}
#u3_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#003366;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4.b {
  position:absolute;
  left:754px;
  top:-1px;
  width:238px;
  height:63px;
}
#u4_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5.b {
  position:absolute;
  left:983px;
  top:-2px;
  width:227px;
  height:63px;
}
#u5_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6.b {
}
#u8.b {
}
#u10.b {
}
#u12.b {
}
#u14.b {
}
#u16.b {
}
#u18.b {
}
#u20.b {
}
#u22.b {
}
#u24.b {
  position:absolute;
  left:10px;
  top:230px;
  width:40px;
  height:25px;
}
#u24_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  background-color:#3385FF;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u25.b {
}
#u27.b {
}
#u29.b {
}
#u31.b {
}
#u33.b {
  position:absolute;
  left:315px;
  top:452px;
  width:275px;
  height:40px;
}
#u33_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:40px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u34.b {
  position:absolute;
  left:1322px;
  top:447px;
  width:275px;
  height:40px;
}
#u34_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:40px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u35.b {
  position:absolute;
  left:340px;
  top:845px;
  width:275px;
  height:40px;
}
#u35_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:40px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u36.b {
  position:absolute;
  left:1323px;
  top:845px;
  width:275px;
  height:40px;
}
#u36_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:40px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u37.b {
}
#u39.b {
}
#u41.b {
  position:absolute;
  left:105px;
  top:70px;
  width:94px;
  height:38px;
}
#u41_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:38px;
  background-color:#3385FF;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u42.b {
  position:absolute;
  left:314px;
  top:70px;
  width:90px;
  height:38px;
}
#u42_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:38px;
  background-color:#000000;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
