body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:63px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:63px;
}
#u1 {
  position:absolute;
  left:2px;
  top:24px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:277px;
  top:0px;
  width:238px;
  height:63px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#006699;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3 {
  position:absolute;
  left:515px;
  top:0px;
  width:238px;
  height:63px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#003366;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4 {
  position:absolute;
  left:754px;
  top:-1px;
  width:238px;
  height:63px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5 {
  position:absolute;
  left:983px;
  top:-2px;
  width:227px;
  height:63px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6 {
  position:absolute;
  left:1520px;
  top:17px;
  width:24px;
  height:24px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1544px;
  top:21px;
  width:46px;
  height:25px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#E6E6E6;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1432px;
  top:18px;
  width:24px;
  height:24px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1462px;
  top:20px;
  width:56px;
  height:25px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#E6E6E6;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:10px;
  top:0px;
  width:240px;
  height:60px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1576px;
  top:63px;
  width:22px;
  height:818px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:818px;
}
#u17 {
  position:absolute;
  left:2px;
  top:401px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:56px;
  top:60px;
  width:154px;
  height:821px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:821px;
  background-color:#999999;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#FF0000;
}
#u18_ann {
  position:absolute;
  left:203px;
  top:56px;
  width:1px;
  height:1px;
}
#u19 {
  position:absolute;
  left:0px;
  top:59px;
  width:54px;
  height:822px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:822px;
}
#u20 {
  position:absolute;
  left:2px;
  top:403px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:1366px;
  top:63px;
  width:210px;
  height:818px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:818px;
}
#u22 {
  position:absolute;
  left:2px;
  top:401px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:1366px;
  top:63px;
  width:210px;
  height:27px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:27px;
  background-color:#000000;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u24 {
  position:absolute;
  left:1366px;
  top:125px;
  width:210px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u25 {
  position:absolute;
  left:1366px;
  top:100px;
  width:210px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u26 {
  position:absolute;
  left:1366px;
  top:153px;
  width:210px;
  height:25px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u27 {
  position:absolute;
  left:1366px;
  top:212px;
  width:210px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u28 {
  position:absolute;
  left:1366px;
  top:183px;
  width:210px;
  height:25px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u29 {
  position:absolute;
  left:1366px;
  top:246px;
  width:210px;
  height:25px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u30 {
  position:absolute;
  left:1366px;
  top:315px;
  width:210px;
  height:25px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u31 {
  position:absolute;
  left:1366px;
  top:278px;
  width:210px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u32 {
  position:absolute;
  left:1366px;
  top:350px;
  width:210px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u33 {
  position:absolute;
  left:1366px;
  top:410px;
  width:210px;
  height:25px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u34 {
  position:absolute;
  left:1366px;
  top:385px;
  width:210px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u35 {
  position:absolute;
  left:1366px;
  top:445px;
  width:210px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u36 {
  position:absolute;
  left:10px;
  top:188px;
  width:39px;
  height:155px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:155px;
}
#u37 {
  position:absolute;
  left:2px;
  top:70px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:272px;
  top:100px;
  width:720px;
  height:720px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:720px;
}
#u39 {
  position:absolute;
  left:2px;
  top:352px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:1116px;
  top:800px;
  width:43px;
  height:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u41 {
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:1116px;
  top:770px;
  width:43px;
  height:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u43 {
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:1116px;
  top:740px;
  width:43px;
  height:20px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:1159px;
  top:800px;
  width:101px;
  height:20px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u47 {
  position:absolute;
  left:1159px;
  top:770px;
  width:101px;
  height:20px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u48 {
  position:absolute;
  left:1159px;
  top:740px;
  width:101px;
  height:20px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u49 {
  position:absolute;
  left:380px;
  top:270px;
  width:50px;
  height:25px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u50 {
  position:absolute;
  left:860px;
  top:360px;
  width:50px;
  height:25px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u51 {
  position:absolute;
  left:470px;
  top:685px;
  width:50px;
  height:25px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
body.a {  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u2.a {
  position:absolute;
  left:277px;
  top:0px;
  width:238px;
  height:63px;
}
#u2_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#006699;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3.a {
  position:absolute;
  left:515px;
  top:0px;
  width:238px;
  height:63px;
}
#u3_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#003366;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4.a {
  position:absolute;
  left:754px;
  top:-1px;
  width:238px;
  height:63px;
}
#u4_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5.a {
  position:absolute;
  left:983px;
  top:-2px;
  width:227px;
  height:63px;
}
#u5_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6.a {
}
#u8.a {
}
#u10.a {
}
#u12.a {
}
#u14.a {
}
#u16.a {
}
#u18.a {
  position:absolute;
  left:56px;
  top:60px;
  width:154px;
  height:821px;
}
#u18_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:821px;
  background-color:#999999;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#FF0000;
}
#u18_ann.a {
}
#u19.a {
}
#u21.a {
}
#u23.a {
  position:absolute;
  left:1366px;
  top:63px;
  width:210px;
  height:27px;
}
#u23_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:27px;
  background-color:#000000;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u24.a {
  position:absolute;
  left:1366px;
  top:125px;
  width:210px;
  height:25px;
}
#u24_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u25.a {
  position:absolute;
  left:1366px;
  top:100px;
  width:210px;
  height:25px;
}
#u25_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u26.a {
  position:absolute;
  left:1366px;
  top:153px;
  width:210px;
  height:25px;
}
#u26_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u27.a {
  position:absolute;
  left:1366px;
  top:212px;
  width:210px;
  height:25px;
}
#u27_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u28.a {
  position:absolute;
  left:1366px;
  top:183px;
  width:210px;
  height:25px;
}
#u28_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u29.a {
  position:absolute;
  left:1366px;
  top:246px;
  width:210px;
  height:25px;
}
#u29_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u30.a {
  position:absolute;
  left:1366px;
  top:315px;
  width:210px;
  height:25px;
}
#u30_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u31.a {
  position:absolute;
  left:1366px;
  top:278px;
  width:210px;
  height:25px;
}
#u31_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u32.a {
  position:absolute;
  left:1366px;
  top:350px;
  width:210px;
  height:25px;
}
#u32_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u33.a {
  position:absolute;
  left:1366px;
  top:410px;
  width:210px;
  height:25px;
}
#u33_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u34.a {
  position:absolute;
  left:1366px;
  top:385px;
  width:210px;
  height:25px;
}
#u34_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u35.a {
  position:absolute;
  left:1366px;
  top:445px;
  width:210px;
  height:25px;
}
#u35_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u36.a {
}
#u38.a {
}
#u40.a {
}
#u42.a {
}
#u44.a {
}
#u46.a {
  position:absolute;
  left:1159px;
  top:800px;
  width:101px;
  height:20px;
}
#u46_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u47.a {
  position:absolute;
  left:1159px;
  top:770px;
  width:101px;
  height:20px;
}
#u47_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u48.a {
  position:absolute;
  left:1159px;
  top:740px;
  width:101px;
  height:20px;
}
#u48_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u49.a {
  position:absolute;
  left:380px;
  top:270px;
  width:50px;
  height:25px;
}
#u49_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u50.a {
  position:absolute;
  left:860px;
  top:360px;
  width:50px;
  height:25px;
}
#u50_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u51.a {
  position:absolute;
  left:470px;
  top:685px;
  width:50px;
  height:25px;
}
#u51_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
body.b {  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.b {
}
#u2.b {
  position:absolute;
  left:277px;
  top:0px;
  width:238px;
  height:63px;
}
#u2_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#006699;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3.b {
  position:absolute;
  left:515px;
  top:0px;
  width:238px;
  height:63px;
}
#u3_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#003366;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4.b {
  position:absolute;
  left:754px;
  top:-1px;
  width:238px;
  height:63px;
}
#u4_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5.b {
  position:absolute;
  left:983px;
  top:-2px;
  width:227px;
  height:63px;
}
#u5_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6.b {
}
#u8.b {
}
#u10.b {
}
#u12.b {
}
#u14.b {
}
#u16.b {
}
#u18.b {
  position:absolute;
  left:56px;
  top:60px;
  width:154px;
  height:821px;
}
#u18_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:821px;
  background-color:#999999;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#FF0000;
}
#u18_ann.b {
}
#u19.b {
}
#u21.b {
}
#u23.b {
  position:absolute;
  left:1366px;
  top:63px;
  width:210px;
  height:27px;
}
#u23_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:27px;
  background-color:#000000;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u24.b {
  position:absolute;
  left:1366px;
  top:125px;
  width:210px;
  height:25px;
}
#u24_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u25.b {
  position:absolute;
  left:1366px;
  top:100px;
  width:210px;
  height:25px;
}
#u25_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u26.b {
  position:absolute;
  left:1366px;
  top:153px;
  width:210px;
  height:25px;
}
#u26_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u27.b {
  position:absolute;
  left:1366px;
  top:212px;
  width:210px;
  height:25px;
}
#u27_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u28.b {
  position:absolute;
  left:1366px;
  top:183px;
  width:210px;
  height:25px;
}
#u28_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u29.b {
  position:absolute;
  left:1366px;
  top:246px;
  width:210px;
  height:25px;
}
#u29_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u30.b {
  position:absolute;
  left:1366px;
  top:315px;
  width:210px;
  height:25px;
}
#u30_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u31.b {
  position:absolute;
  left:1366px;
  top:278px;
  width:210px;
  height:25px;
}
#u31_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u32.b {
  position:absolute;
  left:1366px;
  top:350px;
  width:210px;
  height:25px;
}
#u32_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u33.b {
  position:absolute;
  left:1366px;
  top:410px;
  width:210px;
  height:25px;
}
#u33_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u34.b {
  position:absolute;
  left:1366px;
  top:385px;
  width:210px;
  height:25px;
}
#u34_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u35.b {
  position:absolute;
  left:1366px;
  top:445px;
  width:210px;
  height:25px;
}
#u35_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u36.b {
}
#u38.b {
}
#u40.b {
}
#u42.b {
}
#u44.b {
}
#u46.b {
  position:absolute;
  left:1159px;
  top:800px;
  width:101px;
  height:20px;
}
#u46_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u47.b {
  position:absolute;
  left:1159px;
  top:770px;
  width:101px;
  height:20px;
}
#u47_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u48.b {
  position:absolute;
  left:1159px;
  top:740px;
  width:101px;
  height:20px;
}
#u48_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u49.b {
  position:absolute;
  left:380px;
  top:270px;
  width:50px;
  height:25px;
}
#u49_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u50.b {
  position:absolute;
  left:860px;
  top:360px;
  width:50px;
  height:25px;
}
#u50_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u51.b {
  position:absolute;
  left:470px;
  top:685px;
  width:50px;
  height:25px;
}
#u51_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
