/*css reset*/
body {
    font-family: "Microsoft YaHei", "SimHei", sans-serif;
    font-size: 62.5%;
}
/* for IE/Win */

html>body {
    font-size: 10px;
}

/* for everything else */

/*字体边框等初始化*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
img {
    display: block;
}
address,caption,cite,code,dfn,th,var {
    font-weight: normal;
    font-style: normal;
}
ol,ul {
    list-style: none;
}
caption,th {
    text-align: left;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
}
q:before,q:after {
    content: '';
}
abbr,acronym {
    border: 0;
}
a {
    color: #343434;
    text-decoration: none;
}
a:hover {
    color: #b60a0a
}
input{
    outline:medium;
}
/************************************/


body{
    background-color: #3b3b3b;
}
/*************************************/
/* 登录页*/
/*************************************/
.out_container{
    background-color: #3b3b3b;
    width: 100%;
    height: 100%;
    background-size:100% auto;
    min-height: 643px;
}
.container{
    width: 1100px;
    margin:  0 auto;
}
.logo{
    padding: 40px 0 0 0 ;
}
.container .logo>img{
    float: left;
}
.container .logo>h1{
    font: 24px/30px '微软雅黑', sans-serif;
    padding: 20px 0 0 20px;
    color: #cf4a5d;
    float: left;
}
.log_main{
    clear: both;
    padding: 0px 0 0 50px ;
}

/*为高分屏设置log的垂直位置*/
@media screen and (min-width: 1600px){
    .log_main{
        margin-top: 100px;
    }
}
.log_main>img{
    float: left;
    width: 300px;
    margin: 100px 0 0 100px ;
}
.rectangle{
    background: url(../images/logo2.png) no-repeat ;
    background-size:100%; 
    margin: 0 0 0 30px ;
    width: 530px;
    height: 348px;
    float: left;
}
.clr,.clear{
    clear: both;
}
.rectangle>form>p>img{
    width: 20px;
    height: 20px;
    margin: 10px 1px 0 6px;
    float: left;
}
.rectangle>form>p{
    height:40px;
    width:266px;
    margin:35px 0px 0px 1px; 
    background:url(../images/input_back.png) ;
}
.rectangle>form>p>input{
    outline:none;
    height:36px;
    width:228px;
    border:none;
    margin:2px auto ;
    background: none;
    float: left;
}

.submit{
    display: block;
    width: 264px;
    height:39px;
    border-radius:10px;
    border:none;
    font:20px/39px '微软雅黑', sans-serif;
    color:#fff;
    background:url(../images/button.png) no-repeat;
    margin: 70px 0 0 1px;
    text-align: center;
    /*添加css3过渡效果*/
    -webkit-transition: all .34s;
    -o-transition: all .34s;
    transition: all .34s;
}
.submit:hover{
    background: url(../images/button_hover.png) no-repeat;
    color: #D6D6D6;
}

.rectangle h2{
    font: 40px '微软雅黑', sans-serif;
    margin: 35px 0 20px 132px;
    color: #fff;
}
.rectangle form{
    padding: 0px 0 0 100px;
}
.rectangle>form>p+img{
    position: absolute;
    width: 590px;
    right: 0px;
    top: 0px;
}

/************************************/
/*首页－－总览*/
/************************************/
.out_container_subtitle{
    width: 100%;
    margin-bottom: 40px;
}
.container_subtitle{
    height: 60px;
    min-width: 1260px;
}
.container_subtitle img{
    width: 240px;
    height: 60px;
    float: left;
}
.container_subtitle>ul+ul{
    float: left;
    min-width: 700px;
    margin:0 50px;
    height: 60px;
    margin: 0  0 0 150px;
}
.container_subtitle>ul+ul>li{
    font: 20px/60px '微软雅黑', sans-serif;
    float: left;
    
}
.container_subtitle>img+ul{
    float: right;
     margin-right:30px; 
}
.container_subtitle>img+ul>li{
    float: left;
    margin-right:10px; 
}
.container_subtitle>img+ul>li>p{
    float: left;
}
.container_subtitle>img+ul>li>p>a{
    color: #fff;
    line-height: 60px;
    font: 
}
.container_subtitle>img+ul>li>p>a:hover{
    color: #ef4f2f;
}
.container_subtitle>img+ul>li>img{
    width: 19px;
    height: 25px;
    margin: 18px 8px 0 0 ;
    float: left;
}
.container_subtitle>ul+ul>li>a{
    display: block;
    height: 60px;
    color: white;
    padding: 0 30px;
    clear: none;
}
.container_subtitle>ul+ul>li>a:hover,.action{
    background: url(../images/menu.png) repeat-x;
}
.container_title{
    min-width: 1280px;
    height: 583px;
    background: #3b3b3b;
}
.container_title .left{
    width:78px ;
    background: #3b3b3b;
    float: left;
}
.left{
    float: left;
}
.left a{
    cursor: pointer;
}
.main{
    float: left;
    margin-left: 30px;
    width: 75%;
}
.main>img{
    width: 100%;
    background: #fff;
    border-radius:15px;
}
.right{
    width: 180px;
    float: left;
    min-height: 400px;
}
.right>ul>li>img{
    float: left;
}
.right>ul>li>img+img{
    margin: 11px 3px 0 5px;
}
.right>ul>li>p{
    margin: 7px 0 0 8px; 
    float: left;
    color: #fff;
}
.right>ul>li{
    margin: 4px 0px 17px 10px;
}
.footer{
    /*width: 1200px;*/
    margin-left: 80px;
    /*float: left;*/
}
.footer>ul>li>a>img{
    width: 170px;
    float: left;
}
.footer>ul>li>a+div{
    margin: 120px 0 0px 0;
}
.footer>ul>li>div>img,.footer>ul>li>div>p{
    float: left;
}
.footer>ul>li>div{
    float: left;
}
.footer>ul>li{
    float: left;
    max-width: 300px;
}
.container_title .left>ul>li>a>div{
    width: 78px;
}

.boxOneHover{
    background: url(../images/search_hover.png) !important;
}
.box_one>a{
    display: block;
    width: 78px;
    height: 88px;
    background: url(../images/search.png);
}
.box_one>a:hover{
    width: 78px;
    height: 88px;
    background: url(../images/search_hover.png) ;
}
.boxTwoHover{
    background: url(../images/line_hover.png) !important;
}
.box_two>a{
    display: block;
    width: 78px;
    height: 88px;
    background: url(../images/line.png) ;
}
.box_two>a:hover{
    width: 78px;
    height: 88px;
    background: url(../images/line_hover.png);
}
.display{
    width: 331px;
    min-height: 583px;
    background: #3284ff;
    position: absolute;
    left: 78px;
    top: 100px;
    z-index: 1000;
    display: none;
}

.search{
    width: 161px;
    height:30px;
    float: left;
    background: #f3f5f7;
    border-radius:2px;
    margin: 26px 1px 0px 16px;
}
.search>form>p>input{
    border: none;
    width:121px ;
    height: 30px;
    float: left;
    background: none;
}
.search>form>p>a>img{
    width: 28px;
    height: 27px;
    float: right;
}
.display>select{
    width: 116px;
    margin: 26px 1px 0px 18px;
    height: 30px;
    float: left;
    border-radius:2px;
}
.select{
    margin:22px 0 0 0;
}
.select>li{
    clear: both;
    width: 331px;
    height: 52px;
}
.select>li>a{
    font: 20px '微软雅黑', sans-serif;
    display: block;
    line-height: 52px;
    width: 313px;
    height: 52px;
    padding: 0 0 0 18px;
    color: #fff;
}
.select>li>a:hover{
    color: #fff;
    background: #336ca6;
}
.road_display{
    z-index: 1000;
}
.left_display{
    width: 159px;
    min-height: 583px;
    background: #3385ff;
    position: absolute;
    left: 78px;
    top: 100px;
}
.left_display>ul{
    margin:20px 0 0 0;
}
.left_display>ul>li{
    clear: both;
    width: 159px;
    height: 52px;
}
.left_display>ul>li>a{
    font: 18px '微软雅黑', sans-serif;
    display: block;
    line-height: 52px;
    width: 159px;
    height: 52px;
    color: #fff;
    text-align: center;
}
.left_display>ul>li>a:hover{
    
    background: #336ca6;
}
.hide_details{
    position: absolute;
    right: 20px;
    top: 100px;
}
.hideTemp,.hideTempAnother{
    display: none;
}
.showTemp{
    background: #336CA6;
}
.road_details{
    width: 216px;
    min-height: 583px;
    background: #336ca6;
    float: right;
}
.bus_details{
    width: 216px;
    min-height: 583px;
    background: #3385ff;
    float: right;
}
.road_details>div, .bus_details>div{
    width: 216px;
    height: 1px;
    background: #72aae2;
    margin: 14px 0 0 0 ;
}
.road_display h1{
    font: 24px '微软雅黑', sans-serif;
    text-align: center;
    color: #fff;
    margin: 14px 0 0 0;
}
.road_details ul,.bus_details ul{
    margin:10px 0 0 0;
}
.road_details ul li,.bus_details ul li{
    clear: both;
    width: 198px;
    height: 52px;
}
.road_details ul li a,.bus_details ul li a{
    font: 18px '微软雅黑', sans-serif;
    display: block;
    line-height: 52px;
    width: 198px;
    height: 52px;
    text-align: center;
    color: #fff;
}
.road_details li a:hover{
    color: #fff;
    background: #3385ff;
}
.bus_details li a:hover{
    color: #fff;
    background: #336ca6;
}

/*************************************/
/*工作状态*/
/*************************************/
.main-work{
    float: left;
    width: 300px;
    margin-left: 350px;
    margin-top: 100px;
}
.main-work img{
    width: 100%;
}

/*************************************/
/*广告流量分析（总览）*/
/*************************************/
.box_three>a{
    display: block;
    width: 78px;
    height: 88px;
    background: url(../images/analysis.png);
}
.box_three>a:hover{
    width: 78px;
    height: 88px;
    background: url(../images/analysis_hover.png);
}
.adv_main{
    width: 90%;
    float: left;
    margin: 0 0 0 20px;
} 
.adv_main>img{
    width: 89%;
}
.adv_main>h1{
    color: #fff;
    margin: 10px ;
    font:20px '微软雅黑', sans-serif;
}
.adv_footer{
    margin-left: 98px;
}
.adv_footer>ul>li{
    float: left;
    width: 280px;
    height: 170px;
    margin: 0 10px 0 10px;
}
.adv_footer>ul>li>a>img{
    width: 280px;
    height: 170px;
    overflow: hidden;
}
.adv_footer>ul>li>p{
    margin: 6px 0 0 0;
    text-align: center;
}
.adv_footer>ul>li>p>a{
    color: #fff;
    font: 16px '微软雅黑', sans-serif;
}
.adv_footer>ul>li>p>a:hover{
    color: #fe8463;
}

/*********************************************/
/*用户控制-远程更新*/
/*********************************************/
.box_three>a{
    display: block;
    width: 78px;
    height: 88px;
    background: url(../images/up_line.png);
}
.box_three>a:hover{
    width: 78px;
    height: 88px;
    background: url(../images/up_line_hover.png) ;
}
.box_four>a{
    display: block;
    width: 78px;
    height: 88px;
    background: url(../images/up_up.png) ;
}
.box_four>a:hover{
    width: 78px;
    height: 88px;
    background: url(../images/up_up_hover.png);
}
.box_five>a{
    display: block;
    width: 78px;
    height: 88px;
    background: url(../images/up_other.png) ;
}
.box_five>a:hover{
    width: 78px;
    height: 88px;
    background: url(../images/up_other_hover.png);
}
.wait{
    width:408px;
    height: 583px;
    background: #3b84ff ;
    float: left;
}
.up_main{
    width: 826px;
    float: left;
    height: 583px;
    margin: 0 0 0 20px;
}
.up_main .subtitle{
    background: #3b84ff;
    border-radius:4px;
}
.up_main .subtitle_1{
    cursor: pointer;
    background: #3b84ff;
    border-radius:4px;
}
.up_main .subtitle_1>p,.up_main .subtitle>p{
    color: #fff;
    width:500px; 
    font: 16px '微软雅黑', sans-serif;
    line-height: 39px;
    margin: 0 0 0 10px;
    float: left;
}

.up_main .subtitle_1>a,.up_main .subtitle>a{
    display: block;
    background: url(../images/up_arrow_1.png);
    width: 20px;
    height: 12px;
    float: right;
    margin: 15px 10px 0 0px;
}
.display_1{
    display: none;
}
.up_main>ul>li{
    margin: 0 0 10px 0;
}
.up_main>ul>li>div{
    width: 826px;
    height: 39px;
}
.up_main>ul>li>div+div>form{
    margin: 10px 0 0  0;
}
.up_main>ul>li>div+div>form>input{
    float: left;
    height: 36px;
    border-radius:4px;
    border: none;
}
.file{
    width: 647px;
    display: none;
}
.ye{
    background: #fff;
    width: 647px;
}
.button{
    font: 16px '微软雅黑', sans-serif;
    color: #fff;
    width: 169px;
    background: #336ca6;
    margin: 0 0 0 10px;
}
.movie>li>img{
    width: 170px;
    height: 103px;
    cursor: pointer;
}
.movie>li>h1>a{
    font: 16px '微软雅黑', sans-serif;
    color: #000;
    margin: 5px 0 0 0px;
}
.movie>li>h1>a:hover{
    color: #ef4f2f;
}
.movie>li>p{
    color: #ccc;
    margin: 3px 0 0 0px;
}
.movie>li{
    float: left;
    width: 170px;
    margin: 12px 19px 0 17px;
}
.movie{
    display: none;
    width: 826px;
    border-radius: 4px;
    background: #fff;
    margin: 10px 0 0 0 ;
}
.book{
    display: none;
    width: 826px;
    border-radius: 4px;
    background: #fff;
    margin: 10px 0 0 0 ;
}
.book>li>img{
    width: 148px;
    height: 203px;
    padding: 5px;
    cursor: pointer;
}
.book>li>p>a{
    font: 16px '微软雅黑', sans-serif;
    color: #000;
    margin: 5px 0 0 5px;
}
.book>li>p>a:hover{
    color: #ef4f2f;
}
.book>li{
    float: left;
    margin: 6px 15px 10px 30px;
}
.app{
    display: none;
    width: 826px;
    border-radius: 4px;
    background: #fff;
    margin: 10px 0 0 0 ;
}
.app>li{
    float: left;
    width: 78px;
    margin: 0 17px 0 8px;
}
.app>li>img{
    padding: 5px;
    width: 78px;
    height: 80px;
    cursor: pointer;
}
.app>li>h1>a{
    font: 16px '微软雅黑', sans-serif;
    color: #000;
}
.app>li>h1{
    text-align: center;
}
.app>li>h1>a:hover{
    color: #ef4f2f;
}
.app>li>p{
    color: #ccc;
    margin: 3px 0 0 0px;
    text-align: center;
}
.dis{
    position: absolute;
    top:248px;
    left: 714px;
    width: 438px;
    height: 309px;
    background: #336ca6;
    z-index: 100;
    display: none;
}
.dis>form>div .file{
    display: none;
    width:160px;
    height: 32px;
    border: none;
}
.dis>form>div .ye{
    background: #fff;
    width:160px;
    height: 32px;
}
.dis>form>div .button{
    font: 12px '微软雅黑', sans-serif;
    color: #336ca6;
    width: 160px;
    background: none;
    margin: 0 0 0 -163px;
}
.dis>form>div>p{
    display: inline;
    color: #fff;
    font: 16px '微软雅黑', sans-serif;
}
.dis>form>div>input{
    clear: both;
    width:160px;
    height: 32px;
    border: none;
}
.dis>form>div{
    margin: 35px 0 0 84px;
}
.dis>form .dis_button{
    margin:26px 0 0 135px;

}
.dis_button>input{
    font: 16px '微软雅黑', sans-serif;
    color: #fff;
    background: #3385ff;
    cursor: pointer;
}
/*********************************************/
/*用户控制-其他设置*/
/*********************************************/
.other_set>form>input{
    width: 270px;
    height: 39px;
}
.up_main>ul>li .other_set>form>input+input{
    background: #fff;
    width: 100px;
    float: right;
    cursor: pointer;
}

.other_set>form{
    color: #fff;
    line-height: 54px;
}
.up_main>ul>li .web_set>form>textarea{
    width: 420px;
    height: 136px;
    resize: none;
    border-radius: 4px;
}
.up_main>ul>li .web_set>form>textarea+input{
    width: 100px;
    float: right;
    height: 39px;
    margin: 97px 0 0 0 ;
    background: #fff;
}
.up_main>ul>li .reaset>form>input{
    width: 100px;
    float: right;
    height: 39px;
    background: #fff;
    cursor: pointer;
}
/*********************************************/
/*超级登录页*/
/*********************************************/
.super_admin{
    overflow:auto;
    width: 198px;
    height: 783px;
    background: #3b84ff;
    float: left;
    margin: 0 0 0 10px;
    border-radius: 4px;
}
.super_admin>ul>li{
    text-align: center;
}
.super_admin>ul>li>a{
    font: 20px '微软雅黑', sans-serif;
    display: block;
    line-height: 52px;
    width: 198px;
    height: 52px;
    color: #fff;
}
.super_admin>ul>li>a:hover{
    color: #fff;
    background: #336ca6;
}
.right{
    float: left;
    width: 1110px;
    margin: 0 0 0 21px;
}
.right>img{
    width: 1110px;
    height: 583px;
    border-radius: 4px;
}
.right>img+div{
    height: 190px;
    margin: 10px 0 0 0 ;
    background: #fff;
    border-radius: 4px;
}
.right>img+div>h1{
    font: 16px '微软雅黑', sans-serif;
    color: #000;
}
.right>img+div>p>a{
    font: 16px '微软雅黑', sans-serif;
    float: right;
    margin: 126px 25px 0 0px;
}