body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:63px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:63px;
}
#u1 {
  position:absolute;
  left:2px;
  top:24px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:277px;
  top:0px;
  width:238px;
  height:63px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#006699;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3 {
  position:absolute;
  left:515px;
  top:0px;
  width:238px;
  height:63px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#003366;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4 {
  position:absolute;
  left:754px;
  top:-1px;
  width:238px;
  height:63px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5 {
  position:absolute;
  left:983px;
  top:-2px;
  width:227px;
  height:63px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6 {
  position:absolute;
  left:1520px;
  top:17px;
  width:24px;
  height:24px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1544px;
  top:21px;
  width:46px;
  height:25px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#E6E6E6;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1432px;
  top:18px;
  width:24px;
  height:24px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1462px;
  top:20px;
  width:56px;
  height:25px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#E6E6E6;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:10px;
  top:0px;
  width:240px;
  height:60px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1576px;
  top:63px;
  width:22px;
  height:790px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:790px;
}
#u17 {
  position:absolute;
  left:2px;
  top:387px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:713px;
  top:779px;
  width:45px;
  height:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u19 {
  position:absolute;
  left:2px;
  top:2px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:715px;
  top:809px;
  width:43px;
  height:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:760px;
  top:779px;
  width:150px;
  height:20px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u23 {
  position:absolute;
  left:758px;
  top:809px;
  width:101px;
  height:20px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u24 {
  position:absolute;
  left:56px;
  top:60px;
  width:154px;
  height:821px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:821px;
  background-color:#999999;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#FF0000;
}
#u24_ann {
  position:absolute;
  left:203px;
  top:56px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:0px;
  top:59px;
  width:54px;
  height:822px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:822px;
}
#u26 {
  position:absolute;
  left:2px;
  top:403px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:265px;
  top:110px;
  width:625px;
  height:625px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  height:625px;
}
#u28 {
  position:absolute;
  left:2px;
  top:304px;
  width:621px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:1070px;
  top:63px;
  width:210px;
  height:818px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:818px;
}
#u30 {
  position:absolute;
  left:2px;
  top:401px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:1308px;
  top:63px;
  width:210px;
  height:818px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:818px;
}
#u32 {
  position:absolute;
  left:2px;
  top:401px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:1070px;
  top:63px;
  width:210px;
  height:27px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:27px;
  background-color:#000000;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u34 {
  position:absolute;
  left:1308px;
  top:63px;
  width:210px;
  height:27px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:27px;
  background-color:#000000;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u35 {
  position:absolute;
  left:1070px;
  top:125px;
  width:210px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u36 {
  position:absolute;
  left:1308px;
  top:140px;
  width:210px;
  height:25px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u37 {
  position:absolute;
  left:1070px;
  top:100px;
  width:210px;
  height:25px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u38 {
  position:absolute;
  left:1070px;
  top:153px;
  width:210px;
  height:25px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u39 {
  position:absolute;
  left:1070px;
  top:212px;
  width:210px;
  height:25px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u40 {
  position:absolute;
  left:1070px;
  top:183px;
  width:210px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u41 {
  position:absolute;
  left:1070px;
  top:246px;
  width:210px;
  height:25px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u42 {
  position:absolute;
  left:1070px;
  top:315px;
  width:210px;
  height:25px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u43 {
  position:absolute;
  left:1070px;
  top:278px;
  width:210px;
  height:25px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u44 {
  position:absolute;
  left:1070px;
  top:350px;
  width:210px;
  height:25px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u45 {
  position:absolute;
  left:1070px;
  top:410px;
  width:210px;
  height:25px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u46 {
  position:absolute;
  left:1070px;
  top:385px;
  width:210px;
  height:25px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u47 {
  position:absolute;
  left:1070px;
  top:445px;
  width:210px;
  height:25px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u48 {
  position:absolute;
  left:1308px;
  top:115px;
  width:210px;
  height:25px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u49 {
  position:absolute;
  left:1308px;
  top:90px;
  width:210px;
  height:25px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u50 {
  position:absolute;
  left:1308px;
  top:175px;
  width:210px;
  height:25px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u51 {
  position:absolute;
  left:1308px;
  top:260px;
  width:210px;
  height:25px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u52 {
  position:absolute;
  left:1308px;
  top:235px;
  width:210px;
  height:25px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u53 {
  position:absolute;
  left:1308px;
  top:210px;
  width:210px;
  height:25px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u54 {
  position:absolute;
  left:1308px;
  top:295px;
  width:210px;
  height:25px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u55 {
  position:absolute;
  left:1308px;
  top:380px;
  width:210px;
  height:25px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u56 {
  position:absolute;
  left:1308px;
  top:355px;
  width:210px;
  height:25px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u57 {
  position:absolute;
  left:1308px;
  top:330px;
  width:210px;
  height:25px;
}
#u57_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u58 {
  position:absolute;
  left:1308px;
  top:415px;
  width:210px;
  height:25px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u59 {
  position:absolute;
  left:10px;
  top:188px;
  width:39px;
  height:155px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:155px;
}
#u60 {
  position:absolute;
  left:2px;
  top:70px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u2.a {
  position:absolute;
  left:277px;
  top:0px;
  width:238px;
  height:63px;
}
#u2_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#006699;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3.a {
  position:absolute;
  left:515px;
  top:0px;
  width:238px;
  height:63px;
}
#u3_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#003366;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4.a {
  position:absolute;
  left:754px;
  top:-1px;
  width:238px;
  height:63px;
}
#u4_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5.a {
  position:absolute;
  left:983px;
  top:-2px;
  width:227px;
  height:63px;
}
#u5_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6.a {
}
#u8.a {
}
#u10.a {
}
#u12.a {
}
#u14.a {
}
#u16.a {
}
#u18.a {
}
#u20.a {
}
#u22.a {
  position:absolute;
  left:760px;
  top:779px;
  width:150px;
  height:20px;
}
#u22_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u23.a {
  position:absolute;
  left:758px;
  top:809px;
  width:101px;
  height:20px;
}
#u23_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u24.a {
  position:absolute;
  left:56px;
  top:60px;
  width:154px;
  height:821px;
}
#u24_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:821px;
  background-color:#999999;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#FF0000;
}
#u24_ann.a {
}
#u25.a {
}
#u27.a {
}
#u29.a {
}
#u31.a {
}
#u33.a {
  position:absolute;
  left:1070px;
  top:63px;
  width:210px;
  height:27px;
}
#u33_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:27px;
  background-color:#000000;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u34.a {
  position:absolute;
  left:1308px;
  top:63px;
  width:210px;
  height:27px;
}
#u34_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:27px;
  background-color:#000000;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u35.a {
  position:absolute;
  left:1070px;
  top:125px;
  width:210px;
  height:25px;
}
#u35_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u36.a {
  position:absolute;
  left:1308px;
  top:140px;
  width:210px;
  height:25px;
}
#u36_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u37.a {
  position:absolute;
  left:1070px;
  top:100px;
  width:210px;
  height:25px;
}
#u37_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u38.a {
  position:absolute;
  left:1070px;
  top:153px;
  width:210px;
  height:25px;
}
#u38_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u39.a {
  position:absolute;
  left:1070px;
  top:212px;
  width:210px;
  height:25px;
}
#u39_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u40.a {
  position:absolute;
  left:1070px;
  top:183px;
  width:210px;
  height:25px;
}
#u40_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u41.a {
  position:absolute;
  left:1070px;
  top:246px;
  width:210px;
  height:25px;
}
#u41_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u42.a {
  position:absolute;
  left:1070px;
  top:315px;
  width:210px;
  height:25px;
}
#u42_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u43.a {
  position:absolute;
  left:1070px;
  top:278px;
  width:210px;
  height:25px;
}
#u43_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u44.a {
  position:absolute;
  left:1070px;
  top:350px;
  width:210px;
  height:25px;
}
#u44_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u45.a {
  position:absolute;
  left:1070px;
  top:410px;
  width:210px;
  height:25px;
}
#u45_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u46.a {
  position:absolute;
  left:1070px;
  top:385px;
  width:210px;
  height:25px;
}
#u46_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u47.a {
  position:absolute;
  left:1070px;
  top:445px;
  width:210px;
  height:25px;
}
#u47_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u48.a {
  position:absolute;
  left:1308px;
  top:115px;
  width:210px;
  height:25px;
}
#u48_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u49.a {
  position:absolute;
  left:1308px;
  top:90px;
  width:210px;
  height:25px;
}
#u49_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u50.a {
  position:absolute;
  left:1308px;
  top:175px;
  width:210px;
  height:25px;
}
#u50_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u51.a {
  position:absolute;
  left:1308px;
  top:260px;
  width:210px;
  height:25px;
}
#u51_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u52.a {
  position:absolute;
  left:1308px;
  top:235px;
  width:210px;
  height:25px;
}
#u52_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u53.a {
  position:absolute;
  left:1308px;
  top:210px;
  width:210px;
  height:25px;
}
#u53_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u54.a {
  position:absolute;
  left:1308px;
  top:295px;
  width:210px;
  height:25px;
}
#u54_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u55.a {
  position:absolute;
  left:1308px;
  top:380px;
  width:210px;
  height:25px;
}
#u55_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u56.a {
  position:absolute;
  left:1308px;
  top:355px;
  width:210px;
  height:25px;
}
#u56_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u57.a {
  position:absolute;
  left:1308px;
  top:330px;
  width:210px;
  height:25px;
}
#u57_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u58.a {
  position:absolute;
  left:1308px;
  top:415px;
  width:210px;
  height:25px;
}
#u58_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u59.a {
}
body.b {  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.b {
}
#u2.b {
  position:absolute;
  left:277px;
  top:0px;
  width:238px;
  height:63px;
}
#u2_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#006699;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3.b {
  position:absolute;
  left:515px;
  top:0px;
  width:238px;
  height:63px;
}
#u3_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#003366;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4.b {
  position:absolute;
  left:754px;
  top:-1px;
  width:238px;
  height:63px;
}
#u4_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5.b {
  position:absolute;
  left:983px;
  top:-2px;
  width:227px;
  height:63px;
}
#u5_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6.b {
}
#u8.b {
}
#u10.b {
}
#u12.b {
}
#u14.b {
}
#u16.b {
}
#u18.b {
}
#u20.b {
}
#u22.b {
  position:absolute;
  left:760px;
  top:779px;
  width:150px;
  height:20px;
}
#u22_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u23.b {
  position:absolute;
  left:758px;
  top:809px;
  width:101px;
  height:20px;
}
#u23_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u24.b {
  position:absolute;
  left:56px;
  top:60px;
  width:154px;
  height:821px;
}
#u24_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:821px;
  background-color:#999999;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#FF0000;
}
#u24_ann.b {
}
#u25.b {
}
#u27.b {
}
#u29.b {
}
#u31.b {
}
#u33.b {
  position:absolute;
  left:1070px;
  top:63px;
  width:210px;
  height:27px;
}
#u33_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:27px;
  background-color:#000000;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u34.b {
  position:absolute;
  left:1308px;
  top:63px;
  width:210px;
  height:27px;
}
#u34_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:27px;
  background-color:#000000;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u35.b {
  position:absolute;
  left:1070px;
  top:125px;
  width:210px;
  height:25px;
}
#u35_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u36.b {
  position:absolute;
  left:1308px;
  top:140px;
  width:210px;
  height:25px;
}
#u36_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u37.b {
  position:absolute;
  left:1070px;
  top:100px;
  width:210px;
  height:25px;
}
#u37_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u38.b {
  position:absolute;
  left:1070px;
  top:153px;
  width:210px;
  height:25px;
}
#u38_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u39.b {
  position:absolute;
  left:1070px;
  top:212px;
  width:210px;
  height:25px;
}
#u39_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u40.b {
  position:absolute;
  left:1070px;
  top:183px;
  width:210px;
  height:25px;
}
#u40_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u41.b {
  position:absolute;
  left:1070px;
  top:246px;
  width:210px;
  height:25px;
}
#u41_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u42.b {
  position:absolute;
  left:1070px;
  top:315px;
  width:210px;
  height:25px;
}
#u42_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u43.b {
  position:absolute;
  left:1070px;
  top:278px;
  width:210px;
  height:25px;
}
#u43_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u44.b {
  position:absolute;
  left:1070px;
  top:350px;
  width:210px;
  height:25px;
}
#u44_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u45.b {
  position:absolute;
  left:1070px;
  top:410px;
  width:210px;
  height:25px;
}
#u45_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u46.b {
  position:absolute;
  left:1070px;
  top:385px;
  width:210px;
  height:25px;
}
#u46_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u47.b {
  position:absolute;
  left:1070px;
  top:445px;
  width:210px;
  height:25px;
}
#u47_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u48.b {
  position:absolute;
  left:1308px;
  top:115px;
  width:210px;
  height:25px;
}
#u48_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u49.b {
  position:absolute;
  left:1308px;
  top:90px;
  width:210px;
  height:25px;
}
#u49_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u50.b {
  position:absolute;
  left:1308px;
  top:175px;
  width:210px;
  height:25px;
}
#u50_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u51.b {
  position:absolute;
  left:1308px;
  top:260px;
  width:210px;
  height:25px;
}
#u51_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u52.b {
  position:absolute;
  left:1308px;
  top:235px;
  width:210px;
  height:25px;
}
#u52_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u53.b {
  position:absolute;
  left:1308px;
  top:210px;
  width:210px;
  height:25px;
}
#u53_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u54.b {
  position:absolute;
  left:1308px;
  top:295px;
  width:210px;
  height:25px;
}
#u54_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u55.b {
  position:absolute;
  left:1308px;
  top:380px;
  width:210px;
  height:25px;
}
#u55_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u56.b {
  position:absolute;
  left:1308px;
  top:355px;
  width:210px;
  height:25px;
}
#u56_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u57.b {
  position:absolute;
  left:1308px;
  top:330px;
  width:210px;
  height:25px;
}
#u57_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u58.b {
  position:absolute;
  left:1308px;
  top:415px;
  width:210px;
  height:25px;
}
#u58_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u59.b {
}
