body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1950px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:54px;
  top:63px;
  width:1896px;
  height:457px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1896px;
  height:457px;
}
#u1 {
  position:absolute;
  left:2px;
  top:220px;
  width:1892px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_ann {
  position:absolute;
  left:1943px;
  top:59px;
  width:1px;
  height:1px;
}
#u2 {
  position:absolute;
  left:54px;
  top:539px;
  width:415px;
  height:307px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:307px;
}
#u3 {
  position:absolute;
  left:2px;
  top:146px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:113px;
  top:853px;
  width:200px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5 {
  position:absolute;
  left:479px;
  top:539px;
  width:420px;
  height:307px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:307px;
}
#u6 {
  position:absolute;
  left:2px;
  top:146px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:905px;
  top:539px;
  width:490px;
  height:307px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:307px;
}
#u8 {
  position:absolute;
  left:2px;
  top:146px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:1065px;
  top:856px;
  width:200px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u10 {
  position:absolute;
  left:1412px;
  top:539px;
  width:538px;
  height:307px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:307px;
}
#u11 {
  position:absolute;
  left:2px;
  top:146px;
  width:534px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_ann {
  position:absolute;
  left:1943px;
  top:535px;
  width:1px;
  height:1px;
}
#u12 {
  position:absolute;
  left:1581px;
  top:856px;
  width:200px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u13 {
  position:absolute;
  left:580px;
  top:860px;
  width:200px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:1950px;
  height:63px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1950px;
  height:63px;
}
#u15 {
  position:absolute;
  left:2px;
  top:24px;
  width:1946px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:277px;
  top:0px;
  width:238px;
  height:63px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u17 {
  position:absolute;
  left:515px;
  top:0px;
  width:238px;
  height:63px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#003366;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u18 {
  position:absolute;
  left:754px;
  top:-1px;
  width:238px;
  height:63px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u19 {
  position:absolute;
  left:983px;
  top:-2px;
  width:227px;
  height:63px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u20 {
  position:absolute;
  left:1835px;
  top:17px;
  width:24px;
  height:24px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u21 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1859px;
  top:21px;
  width:46px;
  height:25px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#E6E6E6;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:1747px;
  top:18px;
  width:24px;
  height:24px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u25 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:1777px;
  top:20px;
  width:56px;
  height:25px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#E6E6E6;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:10px;
  top:0px;
  width:240px;
  height:60px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u29 {
  position:absolute;
  left:2px;
  top:22px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:1774px;
  top:68px;
  width:88px;
  height:29px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:29px;
}
#u31 {
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:1774px;
  top:107px;
  width:88px;
  height:29px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:29px;
}
#u33 {
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:1881px;
  top:68px;
  width:60px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background-color:#333333;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u35 {
  position:absolute;
  left:1881px;
  top:107px;
  width:69px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  background-color:#333333;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u36 {
  position:absolute;
  left:0px;
  top:63px;
  width:54px;
  height:822px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:822px;
}
#u37 {
  position:absolute;
  left:2px;
  top:403px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:0px;
  top:125px;
  width:53px;
  height:62px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:62px;
}
#u39 {
  position:absolute;
  left:2px;
  top:23px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:54px;
  top:63px;
  width:213px;
  height:822px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:822px;
  background-color:#999999;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#FF0000;
}
#u40_ann {
  position:absolute;
  left:260px;
  top:59px;
  width:1px;
  height:1px;
}
#u41 {
  position:absolute;
  left:54px;
  top:66px;
  width:66px;
  height:35px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:35px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#FFFFFF;
}
#u41_input:disabled {
  color:grayText;
}
#u42 {
  position:absolute;
  left:113px;
  top:68px;
  width:80px;
  height:32px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u43 {
  position:absolute;
  left:193px;
  top:68px;
  width:54px;
  height:35px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:center;
}
#u44 {
  position:absolute;
  left:6px;
  top:197px;
  width:42px;
  height:51px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:51px;
}
#u45 {
  position:absolute;
  left:2px;
  top:18px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:11px;
  top:228px;
  width:34px;
  height:25px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:25px;
  background-color:#252525;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
body.a {  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1950px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.a {
}
#u0_ann.a {
}
#u2.a {
}
#u4.a {
  position:absolute;
  left:113px;
  top:853px;
  width:200px;
  height:25px;
}
#u4_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5.a {
}
#u7.a {
}
#u9.a {
  position:absolute;
  left:1065px;
  top:856px;
  width:200px;
  height:25px;
}
#u9_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u10.a {
}
#u10_ann.a {
}
#u12.a {
  position:absolute;
  left:1581px;
  top:856px;
  width:200px;
  height:25px;
}
#u12_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u13.a {
  position:absolute;
  left:580px;
  top:860px;
  width:200px;
  height:25px;
}
#u13_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u14.a {
}
#u16.a {
  position:absolute;
  left:277px;
  top:0px;
  width:238px;
  height:63px;
}
#u16_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u17.a {
  position:absolute;
  left:515px;
  top:0px;
  width:238px;
  height:63px;
}
#u17_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#003366;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u18.a {
  position:absolute;
  left:754px;
  top:-1px;
  width:238px;
  height:63px;
}
#u18_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u19.a {
  position:absolute;
  left:983px;
  top:-2px;
  width:227px;
  height:63px;
}
#u19_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u20.a {
}
#u22.a {
}
#u24.a {
}
#u26.a {
}
#u28.a {
}
#u30.a {
}
#u32.a {
}
#u34.a {
  position:absolute;
  left:1881px;
  top:68px;
  width:60px;
  height:25px;
}
#u34_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background-color:#333333;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u35.a {
  position:absolute;
  left:1881px;
  top:107px;
  width:69px;
  height:25px;
}
#u35_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  background-color:#333333;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u36.a {
}
#u38.a {
}
#u40.a {
  position:absolute;
  left:54px;
  top:63px;
  width:213px;
  height:822px;
}
#u40_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:822px;
  background-color:#999999;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#FF0000;
}
#u40_ann.a {
}
#u41.a {
  position:absolute;
  left:54px;
  top:66px;
  width:66px;
  height:35px;
}
#u41_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:35px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#FFFFFF;
}
#u42.a {
  position:absolute;
  left:113px;
  top:68px;
  width:80px;
  height:32px;
}
#u42_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u43.a {
  position:absolute;
  left:193px;
  top:68px;
  width:54px;
  height:35px;
}
#u43_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:center;
}
#u44.a {
}
#u46.a {
  position:absolute;
  left:11px;
  top:228px;
  width:34px;
  height:25px;
}
#u46_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:25px;
  background-color:#252525;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
body.b {  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1950px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.b {
}
#u0_ann.b {
}
#u2.b {
}
#u4.b {
  position:absolute;
  left:113px;
  top:853px;
  width:200px;
  height:25px;
}
#u4_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5.b {
}
#u7.b {
}
#u9.b {
  position:absolute;
  left:1065px;
  top:856px;
  width:200px;
  height:25px;
}
#u9_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u10.b {
}
#u10_ann.b {
}
#u12.b {
  position:absolute;
  left:1581px;
  top:856px;
  width:200px;
  height:25px;
}
#u12_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u13.b {
  position:absolute;
  left:580px;
  top:860px;
  width:200px;
  height:25px;
}
#u13_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u14.b {
}
#u16.b {
  position:absolute;
  left:277px;
  top:0px;
  width:238px;
  height:63px;
}
#u16_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u17.b {
  position:absolute;
  left:515px;
  top:0px;
  width:238px;
  height:63px;
}
#u17_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#003366;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u18.b {
  position:absolute;
  left:754px;
  top:-1px;
  width:238px;
  height:63px;
}
#u18_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u19.b {
  position:absolute;
  left:983px;
  top:-2px;
  width:227px;
  height:63px;
}
#u19_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u20.b {
}
#u22.b {
}
#u24.b {
}
#u26.b {
}
#u28.b {
}
#u30.b {
}
#u32.b {
}
#u34.b {
  position:absolute;
  left:1881px;
  top:68px;
  width:60px;
  height:25px;
}
#u34_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background-color:#333333;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u35.b {
  position:absolute;
  left:1881px;
  top:107px;
  width:69px;
  height:25px;
}
#u35_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  background-color:#333333;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u36.b {
}
#u38.b {
}
#u40.b {
  position:absolute;
  left:54px;
  top:63px;
  width:213px;
  height:822px;
}
#u40_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:822px;
  background-color:#999999;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#FF0000;
}
#u40_ann.b {
}
#u41.b {
  position:absolute;
  left:54px;
  top:66px;
  width:66px;
  height:35px;
}
#u41_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:35px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#FFFFFF;
}
#u42.b {
  position:absolute;
  left:113px;
  top:68px;
  width:80px;
  height:32px;
}
#u42_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u43.b {
  position:absolute;
  left:193px;
  top:68px;
  width:54px;
  height:35px;
}
#u43_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:center;
}
#u44.b {
}
#u46.b {
  position:absolute;
  left:11px;
  top:228px;
  width:34px;
  height:25px;
}
#u46_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:25px;
  background-color:#252525;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
