body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1950px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:210px;
  top:60px;
  width:1550px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1550px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:1546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:59px;
  width:54px;
  height:822px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:822px;
}
#u3 {
  position:absolute;
  left:2px;
  top:403px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:1950px;
  height:63px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1950px;
  height:63px;
}
#u5 {
  position:absolute;
  left:2px;
  top:24px;
  width:1946px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:277px;
  top:0px;
  width:238px;
  height:63px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#006699;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7 {
  position:absolute;
  left:515px;
  top:0px;
  width:238px;
  height:63px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#003366;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8 {
  position:absolute;
  left:754px;
  top:-1px;
  width:238px;
  height:63px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u9 {
  position:absolute;
  left:983px;
  top:-2px;
  width:227px;
  height:63px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u10 {
  position:absolute;
  left:1835px;
  top:17px;
  width:24px;
  height:24px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1859px;
  top:21px;
  width:46px;
  height:25px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#E6E6E6;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1747px;
  top:18px;
  width:24px;
  height:24px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u15 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1777px;
  top:20px;
  width:56px;
  height:25px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#E6E6E6;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:10px;
  top:0px;
  width:240px;
  height:60px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u19 {
  position:absolute;
  left:2px;
  top:22px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1390px;
  top:268px;
  width:50px;
  height:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:930px;
  top:263px;
  width:50px;
  height:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u23 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:1390px;
  top:290px;
  width:50px;
  height:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:830px;
  top:191px;
  width:50px;
  height:20px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u27 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:258px;
  top:173px;
  width:49px;
  height:18px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
}
#u29 {
  position:absolute;
  left:2px;
  top:1px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:239px;
  top:191px;
  width:49px;
  height:18px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
}
#u31 {
  position:absolute;
  left:2px;
  top:1px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:258px;
  top:209px;
  width:49px;
  height:18px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
}
#u33 {
  position:absolute;
  left:2px;
  top:1px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:581px;
  top:174px;
  width:49px;
  height:19px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u35 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:1090px;
  top:385px;
  width:49px;
  height:19px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:411px;
  top:155px;
  width:49px;
  height:19px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u39 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:1030px;
  top:315px;
  width:50px;
  height:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u41 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:1770px;
  top:65px;
  width:88px;
  height:29px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:29px;
}
#u43 {
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:1770px;
  top:104px;
  width:88px;
  height:29px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:29px;
}
#u45 {
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:1877px;
  top:65px;
  width:60px;
  height:25px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background-color:#333333;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u47 {
  position:absolute;
  left:1877px;
  top:104px;
  width:69px;
  height:25px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  background-color:#333333;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u48 {
  position:absolute;
  left:56px;
  top:60px;
  width:154px;
  height:821px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:821px;
  background-color:#999999;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#FF0000;
}
#u48_ann {
  position:absolute;
  left:203px;
  top:56px;
  width:1px;
  height:1px;
}
#u49 {
  position:absolute;
  left:10px;
  top:188px;
  width:39px;
  height:155px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:155px;
}
#u50 {
  position:absolute;
  left:2px;
  top:70px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:947px;
  top:104px;
  width:153px;
  height:159px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:159px;
}
#u52 {
  position:absolute;
  left:2px;
  top:72px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:1251px;
  top:704px;
  width:190px;
  height:199px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:199px;
}
#u54 {
  position:absolute;
  left:2px;
  top:92px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:210px;
  top:703px;
  width:191px;
  height:199px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:199px;
}
#u56 {
  position:absolute;
  left:2px;
  top:92px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:897px;
  top:707px;
  width:199px;
  height:200px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:200px;
}
#u58 {
  position:absolute;
  left:2px;
  top:92px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:546px;
  top:703px;
  width:205px;
  height:199px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:199px;
}
#u60 {
  position:absolute;
  left:2px;
  top:92px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:396px;
  top:833px;
  width:45px;
  height:20px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u62 {
  position:absolute;
  left:2px;
  top:2px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:397px;
  top:862px;
  width:43px;
  height:20px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u64 {
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:752px;
  top:833px;
  width:43px;
  height:20px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u66 {
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:753px;
  top:863px;
  width:43px;
  height:20px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u68 {
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:1096px;
  top:863px;
  width:43px;
  height:20px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u70 {
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:1096px;
  top:833px;
  width:43px;
  height:20px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u72 {
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:1460px;
  top:863px;
  width:43px;
  height:20px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u74 {
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:1460px;
  top:833px;
  width:43px;
  height:20px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u76 {
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:1460px;
  top:803px;
  width:43px;
  height:20px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u78 {
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:442px;
  top:833px;
  width:101px;
  height:20px;
}
#u79_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u80 {
  position:absolute;
  left:440px;
  top:863px;
  width:101px;
  height:20px;
}
#u80_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u81 {
  position:absolute;
  left:795px;
  top:833px;
  width:101px;
  height:20px;
}
#u81_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u82 {
  position:absolute;
  left:796px;
  top:863px;
  width:101px;
  height:20px;
}
#u82_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u83 {
  position:absolute;
  left:1503px;
  top:863px;
  width:101px;
  height:20px;
}
#u83_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u84 {
  position:absolute;
  left:1139px;
  top:833px;
  width:101px;
  height:20px;
}
#u84_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u85 {
  position:absolute;
  left:1503px;
  top:833px;
  width:101px;
  height:20px;
}
#u85_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u86 {
  position:absolute;
  left:1503px;
  top:803px;
  width:101px;
  height:20px;
}
#u86_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u87 {
  position:absolute;
  left:1139px;
  top:863px;
  width:112px;
  height:20px;
}
#u87_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u88 {
  position:absolute;
  left:1660px;
  top:703px;
  width:100px;
  height:200px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:200px;
}
#u89 {
  position:absolute;
  left:2px;
  top:68px;
  width:96px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1950px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.a {
}
#u2.a {
}
#u4.a {
}
#u6.a {
  position:absolute;
  left:277px;
  top:0px;
  width:238px;
  height:63px;
}
#u6_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#006699;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7.a {
  position:absolute;
  left:515px;
  top:0px;
  width:238px;
  height:63px;
}
#u7_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#003366;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8.a {
  position:absolute;
  left:754px;
  top:-1px;
  width:238px;
  height:63px;
}
#u8_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u9.a {
  position:absolute;
  left:983px;
  top:-2px;
  width:227px;
  height:63px;
}
#u9_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u10.a {
}
#u12.a {
}
#u14.a {
}
#u16.a {
}
#u18.a {
}
#u20.a {
}
#u22.a {
}
#u24.a {
}
#u26.a {
}
#u28.a {
}
#u30.a {
}
#u32.a {
}
#u34.a {
}
#u36.a {
}
#u38.a {
}
#u40.a {
}
#u42.a {
}
#u44.a {
}
#u46.a {
  position:absolute;
  left:1877px;
  top:65px;
  width:60px;
  height:25px;
}
#u46_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background-color:#333333;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u47.a {
  position:absolute;
  left:1877px;
  top:104px;
  width:69px;
  height:25px;
}
#u47_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  background-color:#333333;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u48.a {
  position:absolute;
  left:56px;
  top:60px;
  width:154px;
  height:821px;
}
#u48_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:821px;
  background-color:#999999;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#FF0000;
}
#u48_ann.a {
}
#u49.a {
}
#u51.a {
}
#u53.a {
}
#u55.a {
}
#u57.a {
}
#u59.a {
}
#u61.a {
}
#u63.a {
}
#u65.a {
}
#u67.a {
}
#u69.a {
}
#u71.a {
}
#u73.a {
}
#u75.a {
}
#u77.a {
}
#u79.a {
  position:absolute;
  left:442px;
  top:833px;
  width:101px;
  height:20px;
}
#u79_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u80.a {
  position:absolute;
  left:440px;
  top:863px;
  width:101px;
  height:20px;
}
#u80_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u81.a {
  position:absolute;
  left:795px;
  top:833px;
  width:101px;
  height:20px;
}
#u81_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u82.a {
  position:absolute;
  left:796px;
  top:863px;
  width:101px;
  height:20px;
}
#u82_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u83.a {
  position:absolute;
  left:1503px;
  top:863px;
  width:101px;
  height:20px;
}
#u83_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u84.a {
  position:absolute;
  left:1139px;
  top:833px;
  width:101px;
  height:20px;
}
#u84_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u85.a {
  position:absolute;
  left:1503px;
  top:833px;
  width:101px;
  height:20px;
}
#u85_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u86.a {
  position:absolute;
  left:1503px;
  top:803px;
  width:101px;
  height:20px;
}
#u86_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u87.a {
  position:absolute;
  left:1139px;
  top:863px;
  width:112px;
  height:20px;
}
#u87_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u88.a {
}
body.b {  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1950px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.b {
}
#u2.b {
}
#u4.b {
}
#u6.b {
  position:absolute;
  left:277px;
  top:0px;
  width:238px;
  height:63px;
}
#u6_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#006699;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7.b {
  position:absolute;
  left:515px;
  top:0px;
  width:238px;
  height:63px;
}
#u7_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#003366;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8.b {
  position:absolute;
  left:754px;
  top:-1px;
  width:238px;
  height:63px;
}
#u8_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u9.b {
  position:absolute;
  left:983px;
  top:-2px;
  width:227px;
  height:63px;
}
#u9_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u10.b {
}
#u12.b {
}
#u14.b {
}
#u16.b {
}
#u18.b {
}
#u20.b {
}
#u22.b {
}
#u24.b {
}
#u26.b {
}
#u28.b {
}
#u30.b {
}
#u32.b {
}
#u34.b {
}
#u36.b {
}
#u38.b {
}
#u40.b {
}
#u42.b {
}
#u44.b {
}
#u46.b {
  position:absolute;
  left:1877px;
  top:65px;
  width:60px;
  height:25px;
}
#u46_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background-color:#333333;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u47.b {
  position:absolute;
  left:1877px;
  top:104px;
  width:69px;
  height:25px;
}
#u47_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  background-color:#333333;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u48.b {
  position:absolute;
  left:56px;
  top:60px;
  width:154px;
  height:821px;
}
#u48_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:821px;
  background-color:#999999;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#FF0000;
}
#u48_ann.b {
}
#u49.b {
}
#u51.b {
}
#u53.b {
}
#u55.b {
}
#u57.b {
}
#u59.b {
}
#u61.b {
}
#u63.b {
}
#u65.b {
}
#u67.b {
}
#u69.b {
}
#u71.b {
}
#u73.b {
}
#u75.b {
}
#u77.b {
}
#u79.b {
  position:absolute;
  left:442px;
  top:833px;
  width:101px;
  height:20px;
}
#u79_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u80.b {
  position:absolute;
  left:440px;
  top:863px;
  width:101px;
  height:20px;
}
#u80_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u81.b {
  position:absolute;
  left:795px;
  top:833px;
  width:101px;
  height:20px;
}
#u81_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u82.b {
  position:absolute;
  left:796px;
  top:863px;
  width:101px;
  height:20px;
}
#u82_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u83.b {
  position:absolute;
  left:1503px;
  top:863px;
  width:101px;
  height:20px;
}
#u83_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u84.b {
  position:absolute;
  left:1139px;
  top:833px;
  width:101px;
  height:20px;
}
#u84_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u85.b {
  position:absolute;
  left:1503px;
  top:833px;
  width:101px;
  height:20px;
}
#u85_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u86.b {
  position:absolute;
  left:1503px;
  top:803px;
  width:101px;
  height:20px;
}
#u86_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u87.b {
  position:absolute;
  left:1139px;
  top:863px;
  width:112px;
  height:20px;
}
#u87_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u88.b {
}
