body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1950px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:62px;
  width:110px;
  height:789px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:789px;
}
#u1 {
  position:absolute;
  left:2px;
  top:386px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1950px;
  height:63px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1950px;
  height:63px;
}
#u3 {
  position:absolute;
  left:2px;
  top:24px;
  width:1946px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:277px;
  top:0px;
  width:238px;
  height:63px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5 {
  position:absolute;
  left:515px;
  top:0px;
  width:238px;
  height:63px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6 {
  position:absolute;
  left:754px;
  top:-1px;
  width:238px;
  height:63px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#003366;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7 {
  position:absolute;
  left:983px;
  top:-2px;
  width:227px;
  height:63px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8 {
  position:absolute;
  left:1835px;
  top:17px;
  width:24px;
  height:24px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1859px;
  top:21px;
  width:46px;
  height:25px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#E6E6E6;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1747px;
  top:18px;
  width:24px;
  height:24px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1777px;
  top:20px;
  width:56px;
  height:25px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#E6E6E6;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:10px;
  top:0px;
  width:240px;
  height:60px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u17 {
  position:absolute;
  left:2px;
  top:22px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:37px;
  top:200px;
  width:68px;
  height:28px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:28px;
  background-color:#3385FF;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u19 {
  position:absolute;
  left:43px;
  top:76px;
  width:65px;
  height:25px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  background-color:#252525;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u20 {
  position:absolute;
  left:40px;
  top:137px;
  width:65px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  background-color:#252525;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u21 {
  position:absolute;
  left:28px;
  top:770px;
  width:54px;
  height:77px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:77px;
}
#u22 {
  position:absolute;
  left:2px;
  top:30px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:112px;
  top:60px;
  width:154px;
  height:791px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:791px;
  background-color:#999999;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#FF0000;
}
#u24 {
  position:absolute;
  left:268px;
  top:62px;
  width:272px;
  height:789px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:789px;
  background-color:#999999;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25 {
  position:absolute;
  left:115px;
  top:68px;
  width:80px;
  height:32px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26 {
  position:absolute;
  left:200px;
  top:68px;
  width:44px;
  height:35px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:center;
}
#u27 {
  position:absolute;
  left:277px;
  top:67px;
  width:163px;
  height:32px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28 {
  position:absolute;
  left:450px;
  top:68px;
  width:65px;
  height:35px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:center;
}
#u29 {
  position:absolute;
  left:12px;
  top:200px;
  width:25px;
  height:27px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:27px;
}
#u30 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:8px;
  top:135px;
  width:33px;
  height:28px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
}
#u32 {
  position:absolute;
  left:2px;
  top:6px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:74px;
  width:37px;
  height:31px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:31px;
}
#u34 {
  position:absolute;
  left:2px;
  top:8px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:170px;
  top:825px;
  width:70px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u36 {
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u35_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u37 {
  position:absolute;
  left:115px;
  top:110px;
  width:100px;
  height:16px;
}
#u38 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u39 {
  position:absolute;
  left:115px;
  top:132px;
  width:100px;
  height:16px;
}
#u40 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u41 {
  position:absolute;
  left:115px;
  top:155px;
  width:100px;
  height:16px;
}
#u42 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u43 {
  position:absolute;
  left:112px;
  top:197px;
  width:100px;
  height:16px;
}
#u44 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u45 {
  position:absolute;
  left:114px;
  top:176px;
  width:100px;
  height:16px;
}
#u46 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u47 {
  position:absolute;
  left:112px;
  top:221px;
  width:100px;
  height:16px;
}
#u48 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u49 {
  position:absolute;
  left:112px;
  top:242px;
  width:100px;
  height:16px;
}
#u50 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u51 {
  position:absolute;
  left:112px;
  top:263px;
  width:100px;
  height:16px;
}
#u52 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u53 {
  position:absolute;
  left:112px;
  top:285px;
  width:100px;
  height:16px;
}
#u54 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u55 {
  position:absolute;
  left:112px;
  top:308px;
  width:100px;
  height:16px;
}
#u56 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u57 {
  position:absolute;
  left:112px;
  top:329px;
  width:100px;
  height:16px;
}
#u58 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u59 {
  position:absolute;
  left:290px;
  top:141px;
  width:100px;
  height:16px;
}
#u60 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u61 {
  position:absolute;
  left:290px;
  top:173px;
  width:100px;
  height:16px;
}
#u62 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u63 {
  position:absolute;
  left:290px;
  top:206px;
  width:100px;
  height:16px;
}
#u64 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u65 {
  position:absolute;
  left:290px;
  top:270px;
  width:100px;
  height:16px;
}
#u66 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u67 {
  position:absolute;
  left:290px;
  top:238px;
  width:100px;
  height:16px;
}
#u68 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u69 {
  position:absolute;
  left:290px;
  top:304px;
  width:100px;
  height:16px;
}
#u70 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u71 {
  position:absolute;
  left:290px;
  top:337px;
  width:100px;
  height:16px;
}
#u72 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u73 {
  position:absolute;
  left:290px;
  top:368px;
  width:100px;
  height:16px;
}
#u74 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u75 {
  position:absolute;
  left:290px;
  top:404px;
  width:100px;
  height:16px;
}
#u76 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u77 {
  position:absolute;
  left:290px;
  top:434px;
  width:100px;
  height:16px;
}
#u78 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u79 {
  position:absolute;
  left:290px;
  top:470px;
  width:100px;
  height:16px;
}
#u80 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u81 {
  position:absolute;
  left:290px;
  top:504px;
  width:100px;
  height:16px;
}
#u82 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u83 {
  position:absolute;
  left:290px;
  top:530px;
  width:100px;
  height:16px;
}
#u84 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u85 {
  position:absolute;
  left:290px;
  top:564px;
  width:100px;
  height:16px;
}
#u86 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u87 {
  position:absolute;
  left:290px;
  top:600px;
  width:100px;
  height:16px;
}
#u88 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u89 {
  position:absolute;
  left:445px;
  top:825px;
  width:70px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u90 {
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u89_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u91 {
  position:absolute;
  left:560px;
  top:138px;
  width:540px;
  height:25px;
}
#u91_input {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:25px;
  background-color:#999999;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u92 {
  position:absolute;
  left:560px;
  top:63px;
  width:540px;
  height:25px;
}
#u92_input {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:25px;
  background-color:#999999;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u93 {
  position:absolute;
  left:560px;
  top:98px;
  width:400px;
  height:25px;
}
#u93_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u94 {
  position:absolute;
  left:1035px;
  top:94px;
  width:65px;
  height:29px;
}
#u94_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:center;
}
#u95 {
  position:absolute;
  left:560px;
  top:179px;
  width:400px;
  height:25px;
}
#u95_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u96 {
  position:absolute;
  left:1035px;
  top:175px;
  width:65px;
  height:29px;
}
#u96_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:center;
}
#u97 {
  position:absolute;
  left:560px;
  top:221px;
  width:540px;
  height:25px;
}
#u97_input {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:25px;
  background-color:#999999;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u98 {
  position:absolute;
  left:560px;
  top:256px;
  width:400px;
  height:128px;
}
#u98_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:128px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u99 {
  position:absolute;
  left:1035px;
  top:355px;
  width:65px;
  height:29px;
}
#u99_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:center;
}
body.a {  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1950px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.a {
}
#u2.a {
}
#u4.a {
  position:absolute;
  left:277px;
  top:0px;
  width:238px;
  height:63px;
}
#u4_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5.a {
  position:absolute;
  left:515px;
  top:0px;
  width:238px;
  height:63px;
}
#u5_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6.a {
  position:absolute;
  left:754px;
  top:-1px;
  width:238px;
  height:63px;
}
#u6_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#003366;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7.a {
  position:absolute;
  left:983px;
  top:-2px;
  width:227px;
  height:63px;
}
#u7_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8.a {
}
#u10.a {
}
#u12.a {
}
#u14.a {
}
#u16.a {
}
#u18.a {
  position:absolute;
  left:37px;
  top:200px;
  width:68px;
  height:28px;
}
#u18_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:28px;
  background-color:#3385FF;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u19.a {
  position:absolute;
  left:43px;
  top:76px;
  width:65px;
  height:25px;
}
#u19_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  background-color:#252525;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u20.a {
  position:absolute;
  left:40px;
  top:137px;
  width:65px;
  height:25px;
}
#u20_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  background-color:#252525;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u21.a {
}
#u23.a {
  position:absolute;
  left:112px;
  top:60px;
  width:154px;
  height:791px;
}
#u23_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:791px;
  background-color:#999999;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#FF0000;
}
#u24.a {
  position:absolute;
  left:268px;
  top:62px;
  width:272px;
  height:789px;
}
#u24_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:789px;
  background-color:#999999;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25.a {
  position:absolute;
  left:115px;
  top:68px;
  width:80px;
  height:32px;
}
#u25_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26.a {
  position:absolute;
  left:200px;
  top:68px;
  width:44px;
  height:35px;
}
#u26_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:center;
}
#u27.a {
  position:absolute;
  left:277px;
  top:67px;
  width:163px;
  height:32px;
}
#u27_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28.a {
  position:absolute;
  left:450px;
  top:68px;
  width:65px;
  height:35px;
}
#u28_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:center;
}
#u29.a {
}
#u31.a {
}
#u33.a {
}
#u35.a {
}
#u35_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u36.a {
}
#u37.a {
}
#u37_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u38.a {
}
#u39.a {
}
#u39_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u40.a {
}
#u41.a {
}
#u41_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u42.a {
}
#u43.a {
}
#u43_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u44.a {
}
#u45.a {
}
#u45_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u46.a {
}
#u47.a {
}
#u47_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u48.a {
}
#u49.a {
}
#u49_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u50.a {
}
#u51.a {
}
#u51_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u52.a {
}
#u53.a {
}
#u53_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u54.a {
}
#u55.a {
}
#u55_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u56.a {
}
#u57.a {
}
#u57_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u58.a {
}
#u59.a {
}
#u59_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u60.a {
}
#u61.a {
}
#u61_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u62.a {
}
#u63.a {
}
#u63_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u64.a {
}
#u65.a {
}
#u65_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u66.a {
}
#u67.a {
}
#u67_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u68.a {
}
#u69.a {
}
#u69_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u70.a {
}
#u71.a {
}
#u71_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u72.a {
}
#u73.a {
}
#u73_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u74.a {
}
#u75.a {
}
#u75_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u76.a {
}
#u77.a {
}
#u77_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u78.a {
}
#u79.a {
}
#u79_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u80.a {
}
#u81.a {
}
#u81_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u82.a {
}
#u83.a {
}
#u83_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u84.a {
}
#u85.a {
}
#u85_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u86.a {
}
#u87.a {
}
#u87_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u88.a {
}
#u89.a {
}
#u89_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u90.a {
}
#u91.a {
  position:absolute;
  left:560px;
  top:138px;
  width:540px;
  height:25px;
}
#u91_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:25px;
  background-color:#999999;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u92.a {
  position:absolute;
  left:560px;
  top:63px;
  width:540px;
  height:25px;
}
#u92_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:25px;
  background-color:#999999;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u93.a {
  position:absolute;
  left:560px;
  top:98px;
  width:400px;
  height:25px;
}
#u93_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u94.a {
  position:absolute;
  left:1035px;
  top:94px;
  width:65px;
  height:29px;
}
#u94_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:center;
}
#u95.a {
  position:absolute;
  left:560px;
  top:179px;
  width:400px;
  height:25px;
}
#u95_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u96.a {
  position:absolute;
  left:1035px;
  top:175px;
  width:65px;
  height:29px;
}
#u96_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:center;
}
#u97.a {
  position:absolute;
  left:560px;
  top:221px;
  width:540px;
  height:25px;
}
#u97_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:25px;
  background-color:#999999;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u98.a {
  position:absolute;
  left:560px;
  top:256px;
  width:400px;
  height:128px;
}
#u98_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:128px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u99.a {
  position:absolute;
  left:1035px;
  top:355px;
  width:65px;
  height:29px;
}
#u99_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:center;
}
body.b {  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1950px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.b {
}
#u2.b {
}
#u4.b {
  position:absolute;
  left:277px;
  top:0px;
  width:238px;
  height:63px;
}
#u4_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5.b {
  position:absolute;
  left:515px;
  top:0px;
  width:238px;
  height:63px;
}
#u5_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6.b {
  position:absolute;
  left:754px;
  top:-1px;
  width:238px;
  height:63px;
}
#u6_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#003366;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7.b {
  position:absolute;
  left:983px;
  top:-2px;
  width:227px;
  height:63px;
}
#u7_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8.b {
}
#u10.b {
}
#u12.b {
}
#u14.b {
}
#u16.b {
}
#u18.b {
  position:absolute;
  left:37px;
  top:200px;
  width:68px;
  height:28px;
}
#u18_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:28px;
  background-color:#3385FF;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u19.b {
  position:absolute;
  left:43px;
  top:76px;
  width:65px;
  height:25px;
}
#u19_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  background-color:#252525;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u20.b {
  position:absolute;
  left:40px;
  top:137px;
  width:65px;
  height:25px;
}
#u20_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  background-color:#252525;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u21.b {
}
#u23.b {
  position:absolute;
  left:112px;
  top:60px;
  width:154px;
  height:791px;
}
#u23_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:791px;
  background-color:#999999;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#FF0000;
}
#u24.b {
  position:absolute;
  left:268px;
  top:62px;
  width:272px;
  height:789px;
}
#u24_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:789px;
  background-color:#999999;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25.b {
  position:absolute;
  left:115px;
  top:68px;
  width:80px;
  height:32px;
}
#u25_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26.b {
  position:absolute;
  left:200px;
  top:68px;
  width:44px;
  height:35px;
}
#u26_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:center;
}
#u27.b {
  position:absolute;
  left:277px;
  top:67px;
  width:163px;
  height:32px;
}
#u27_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28.b {
  position:absolute;
  left:450px;
  top:68px;
  width:65px;
  height:35px;
}
#u28_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:center;
}
#u29.b {
}
#u31.b {
}
#u33.b {
}
#u35.b {
}
#u35_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u36.b {
}
#u37.b {
}
#u37_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u38.b {
}
#u39.b {
}
#u39_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u40.b {
}
#u41.b {
}
#u41_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u42.b {
}
#u43.b {
}
#u43_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u44.b {
}
#u45.b {
}
#u45_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u46.b {
}
#u47.b {
}
#u47_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u48.b {
}
#u49.b {
}
#u49_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u50.b {
}
#u51.b {
}
#u51_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u52.b {
}
#u53.b {
}
#u53_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u54.b {
}
#u55.b {
}
#u55_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u56.b {
}
#u57.b {
}
#u57_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u58.b {
}
#u59.b {
}
#u59_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u60.b {
}
#u61.b {
}
#u61_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u62.b {
}
#u63.b {
}
#u63_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u64.b {
}
#u65.b {
}
#u65_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u66.b {
}
#u67.b {
}
#u67_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u68.b {
}
#u69.b {
}
#u69_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u70.b {
}
#u71.b {
}
#u71_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u72.b {
}
#u73.b {
}
#u73_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u74.b {
}
#u75.b {
}
#u75_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u76.b {
}
#u77.b {
}
#u77_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u78.b {
}
#u79.b {
}
#u79_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u80.b {
}
#u81.b {
}
#u81_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u82.b {
}
#u83.b {
}
#u83_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u84.b {
}
#u85.b {
}
#u85_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u86.b {
}
#u87.b {
}
#u87_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u88.b {
}
#u89.b {
}
#u89_input.b {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u90.b {
}
#u91.b {
  position:absolute;
  left:560px;
  top:138px;
  width:540px;
  height:25px;
}
#u91_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:25px;
  background-color:#999999;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u92.b {
  position:absolute;
  left:560px;
  top:63px;
  width:540px;
  height:25px;
}
#u92_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:25px;
  background-color:#999999;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u93.b {
  position:absolute;
  left:560px;
  top:98px;
  width:400px;
  height:25px;
}
#u93_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u94.b {
  position:absolute;
  left:1035px;
  top:94px;
  width:65px;
  height:29px;
}
#u94_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:center;
}
#u95.b {
  position:absolute;
  left:560px;
  top:179px;
  width:400px;
  height:25px;
}
#u95_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u96.b {
  position:absolute;
  left:1035px;
  top:175px;
  width:65px;
  height:29px;
}
#u96_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:center;
}
#u97.b {
  position:absolute;
  left:560px;
  top:221px;
  width:540px;
  height:25px;
}
#u97_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:25px;
  background-color:#999999;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u98.b {
  position:absolute;
  left:560px;
  top:256px;
  width:400px;
  height:128px;
}
#u98_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:128px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u99.b {
  position:absolute;
  left:1035px;
  top:355px;
  width:65px;
  height:29px;
}
#u99_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:center;
}
