body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:63px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:63px;
}
#u1 {
  position:absolute;
  left:2px;
  top:24px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:277px;
  top:0px;
  width:238px;
  height:63px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#006699;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3 {
  position:absolute;
  left:515px;
  top:0px;
  width:238px;
  height:63px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#003366;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4 {
  position:absolute;
  left:754px;
  top:-1px;
  width:238px;
  height:63px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5 {
  position:absolute;
  left:983px;
  top:-2px;
  width:227px;
  height:63px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6 {
  position:absolute;
  left:1520px;
  top:17px;
  width:24px;
  height:24px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1544px;
  top:21px;
  width:46px;
  height:25px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#E6E6E6;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1432px;
  top:18px;
  width:24px;
  height:24px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1462px;
  top:20px;
  width:56px;
  height:25px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#E6E6E6;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:10px;
  top:0px;
  width:240px;
  height:60px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:56px;
  top:60px;
  width:154px;
  height:821px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:821px;
  background-color:#999999;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#FF0000;
}
#u16_ann {
  position:absolute;
  left:203px;
  top:56px;
  width:1px;
  height:1px;
}
#u17 {
  position:absolute;
  left:0px;
  top:59px;
  width:54px;
  height:822px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:822px;
}
#u18 {
  position:absolute;
  left:2px;
  top:403px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:1390px;
  top:64px;
  width:210px;
  height:818px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:818px;
}
#u20 {
  position:absolute;
  left:2px;
  top:401px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:1390px;
  top:64px;
  width:210px;
  height:27px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:27px;
  background-color:#000000;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u22 {
  position:absolute;
  left:1390px;
  top:122px;
  width:210px;
  height:25px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u23 {
  position:absolute;
  left:1390px;
  top:97px;
  width:210px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u24 {
  position:absolute;
  left:1390px;
  top:150px;
  width:210px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u25 {
  position:absolute;
  left:1390px;
  top:209px;
  width:210px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u26 {
  position:absolute;
  left:1390px;
  top:180px;
  width:210px;
  height:25px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u27 {
  position:absolute;
  left:1390px;
  top:243px;
  width:210px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u28 {
  position:absolute;
  left:1390px;
  top:312px;
  width:210px;
  height:25px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u29 {
  position:absolute;
  left:1390px;
  top:275px;
  width:210px;
  height:25px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u30 {
  position:absolute;
  left:1390px;
  top:347px;
  width:210px;
  height:25px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u31 {
  position:absolute;
  left:1390px;
  top:407px;
  width:210px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u32 {
  position:absolute;
  left:1390px;
  top:382px;
  width:210px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u33 {
  position:absolute;
  left:1390px;
  top:442px;
  width:210px;
  height:25px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u34 {
  position:absolute;
  left:10px;
  top:188px;
  width:39px;
  height:155px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:155px;
}
#u35 {
  position:absolute;
  left:2px;
  top:70px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:220px;
  top:81px;
  width:720px;
  height:720px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:720px;
}
#u37 {
  position:absolute;
  left:2px;
  top:352px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:965px;
  top:751px;
  width:43px;
  height:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u39 {
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:966px;
  top:781px;
  width:43px;
  height:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u41 {
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:1008px;
  top:751px;
  width:101px;
  height:20px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u43 {
  position:absolute;
  left:1009px;
  top:781px;
  width:101px;
  height:20px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
body.a {  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u2.a {
  position:absolute;
  left:277px;
  top:0px;
  width:238px;
  height:63px;
}
#u2_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#006699;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3.a {
  position:absolute;
  left:515px;
  top:0px;
  width:238px;
  height:63px;
}
#u3_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#003366;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4.a {
  position:absolute;
  left:754px;
  top:-1px;
  width:238px;
  height:63px;
}
#u4_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5.a {
  position:absolute;
  left:983px;
  top:-2px;
  width:227px;
  height:63px;
}
#u5_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6.a {
}
#u8.a {
}
#u10.a {
}
#u12.a {
}
#u14.a {
}
#u16.a {
  position:absolute;
  left:56px;
  top:60px;
  width:154px;
  height:821px;
}
#u16_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:821px;
  background-color:#999999;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#FF0000;
}
#u16_ann.a {
}
#u17.a {
}
#u19.a {
}
#u21.a {
  position:absolute;
  left:1390px;
  top:64px;
  width:210px;
  height:27px;
}
#u21_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:27px;
  background-color:#000000;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u22.a {
  position:absolute;
  left:1390px;
  top:122px;
  width:210px;
  height:25px;
}
#u22_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u23.a {
  position:absolute;
  left:1390px;
  top:97px;
  width:210px;
  height:25px;
}
#u23_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u24.a {
  position:absolute;
  left:1390px;
  top:150px;
  width:210px;
  height:25px;
}
#u24_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u25.a {
  position:absolute;
  left:1390px;
  top:209px;
  width:210px;
  height:25px;
}
#u25_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u26.a {
  position:absolute;
  left:1390px;
  top:180px;
  width:210px;
  height:25px;
}
#u26_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u27.a {
  position:absolute;
  left:1390px;
  top:243px;
  width:210px;
  height:25px;
}
#u27_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u28.a {
  position:absolute;
  left:1390px;
  top:312px;
  width:210px;
  height:25px;
}
#u28_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u29.a {
  position:absolute;
  left:1390px;
  top:275px;
  width:210px;
  height:25px;
}
#u29_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u30.a {
  position:absolute;
  left:1390px;
  top:347px;
  width:210px;
  height:25px;
}
#u30_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u31.a {
  position:absolute;
  left:1390px;
  top:407px;
  width:210px;
  height:25px;
}
#u31_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u32.a {
  position:absolute;
  left:1390px;
  top:382px;
  width:210px;
  height:25px;
}
#u32_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u33.a {
  position:absolute;
  left:1390px;
  top:442px;
  width:210px;
  height:25px;
}
#u33_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u34.a {
}
#u36.a {
}
#u38.a {
}
#u40.a {
}
#u42.a {
  position:absolute;
  left:1008px;
  top:751px;
  width:101px;
  height:20px;
}
#u42_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u43.a {
  position:absolute;
  left:1009px;
  top:781px;
  width:101px;
  height:20px;
}
#u43_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
body.b {  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.b {
}
#u2.b {
  position:absolute;
  left:277px;
  top:0px;
  width:238px;
  height:63px;
}
#u2_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#006699;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3.b {
  position:absolute;
  left:515px;
  top:0px;
  width:238px;
  height:63px;
}
#u3_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#003366;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4.b {
  position:absolute;
  left:754px;
  top:-1px;
  width:238px;
  height:63px;
}
#u4_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5.b {
  position:absolute;
  left:983px;
  top:-2px;
  width:227px;
  height:63px;
}
#u5_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:63px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6.b {
}
#u8.b {
}
#u10.b {
}
#u12.b {
}
#u14.b {
}
#u16.b {
  position:absolute;
  left:56px;
  top:60px;
  width:154px;
  height:821px;
}
#u16_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:821px;
  background-color:#999999;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#FF0000;
}
#u16_ann.b {
}
#u17.b {
}
#u19.b {
}
#u21.b {
  position:absolute;
  left:1390px;
  top:64px;
  width:210px;
  height:27px;
}
#u21_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:27px;
  background-color:#000000;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u22.b {
  position:absolute;
  left:1390px;
  top:122px;
  width:210px;
  height:25px;
}
#u22_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u23.b {
  position:absolute;
  left:1390px;
  top:97px;
  width:210px;
  height:25px;
}
#u23_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u24.b {
  position:absolute;
  left:1390px;
  top:150px;
  width:210px;
  height:25px;
}
#u24_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u25.b {
  position:absolute;
  left:1390px;
  top:209px;
  width:210px;
  height:25px;
}
#u25_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u26.b {
  position:absolute;
  left:1390px;
  top:180px;
  width:210px;
  height:25px;
}
#u26_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u27.b {
  position:absolute;
  left:1390px;
  top:243px;
  width:210px;
  height:25px;
}
#u27_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u28.b {
  position:absolute;
  left:1390px;
  top:312px;
  width:210px;
  height:25px;
}
#u28_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u29.b {
  position:absolute;
  left:1390px;
  top:275px;
  width:210px;
  height:25px;
}
#u29_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u30.b {
  position:absolute;
  left:1390px;
  top:347px;
  width:210px;
  height:25px;
}
#u30_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u31.b {
  position:absolute;
  left:1390px;
  top:407px;
  width:210px;
  height:25px;
}
#u31_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u32.b {
  position:absolute;
  left:1390px;
  top:382px;
  width:210px;
  height:25px;
}
#u32_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u33.b {
  position:absolute;
  left:1390px;
  top:442px;
  width:210px;
  height:25px;
}
#u33_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background-color:#666666;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#00FF66;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u34.b {
}
#u36.b {
}
#u38.b {
}
#u40.b {
}
#u42.b {
  position:absolute;
  left:1008px;
  top:751px;
  width:101px;
  height:20px;
}
#u42_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u43.b {
  position:absolute;
  left:1009px;
  top:781px;
  width:101px;
  height:20px;
}
#u43_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
