body {
  margin:0px;
  background-color:rgba(40, 40, 40, 1);
  background-image:none;
  position:relative;
  left:-290px;
  width:990px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:511px;
  top:233px;
  width:550px;
  height:290px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:290px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:685px;
  top:765px;
  width:200px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-color:#282828;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#E4E4E4;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3 {
  position:absolute;
  left:708px;
  top:790px;
  width:141px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:25px;
  background-color:#282828;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#E4E4E4;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4 {
  position:absolute;
  left:670px;
  top:345px;
  width:270px;
  height:44px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5 {
  position:absolute;
  left:630px;
  top:399px;
  width:40px;
  height:43px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:43px;
}
#u6 {
  position:absolute;
  left:2px;
  top:14px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:630px;
  top:346px;
  width:40px;
  height:43px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:43px;
}
#u8 {
  position:absolute;
  left:2px;
  top:14px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:670px;
  top:398px;
  width:270px;
  height:44px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10 {
  position:absolute;
  left:290px;
  top:70px;
  width:990px;
  height:65px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:65px;
  background-color:#282828;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:45px;
  text-decoration:none;
  color:#CC6633;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u11 {
  position:absolute;
  left:716px;
  top:457px;
  width:139px;
  height:43px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:43px;
}
#u11_img.mouseOver {
}
#u11.mouseOver {
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:135px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:950px;
  top:237px;
  width:100px;
  height:102px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:102px;
}
#u14 {
  position:absolute;
  left:2px;
  top:43px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:682px;
  top:260px;
  width:212px;
  height:60px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:60px;
  background-color:#666666;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:38px;
  text-decoration:none;
  color:#CC6600;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
body.a {  background-color:rgba(40, 40, 40, 1);
  background-image:none;
  position:relative;
  left:-290px;
  width:990px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.a {
}
#u2.a {
  position:absolute;
  left:685px;
  top:765px;
  width:200px;
  height:25px;
}
#u2_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-color:#282828;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#E4E4E4;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3.a {
  position:absolute;
  left:708px;
  top:790px;
  width:141px;
  height:25px;
}
#u3_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:25px;
  background-color:#282828;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#E4E4E4;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4.a {
  position:absolute;
  left:670px;
  top:345px;
  width:270px;
  height:44px;
}
#u4_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5.a {
}
#u7.a {
}
#u9.a {
  position:absolute;
  left:670px;
  top:398px;
  width:270px;
  height:44px;
}
#u9_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10.a {
  position:absolute;
  left:290px;
  top:70px;
  width:990px;
  height:65px;
}
#u10_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:65px;
  background-color:#282828;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:45px;
  text-decoration:none;
  color:#CC6633;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u11.a {
}
#u13.a {
}
#u15.a {
  position:absolute;
  left:682px;
  top:260px;
  width:212px;
  height:60px;
}
#u15_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:60px;
  background-color:#666666;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:38px;
  text-decoration:none;
  color:#CC6600;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
body.b {  background-color:rgba(40, 40, 40, 1);
  background-image:none;
  position:relative;
  left:-290px;
  width:990px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.b {
}
#u2.b {
  position:absolute;
  left:685px;
  top:765px;
  width:200px;
  height:25px;
}
#u2_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-color:#282828;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#E4E4E4;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3.b {
  position:absolute;
  left:708px;
  top:790px;
  width:141px;
  height:25px;
}
#u3_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:25px;
  background-color:#282828;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#E4E4E4;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4.b {
  position:absolute;
  left:670px;
  top:345px;
  width:270px;
  height:44px;
}
#u4_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5.b {
}
#u7.b {
}
#u9.b {
  position:absolute;
  left:670px;
  top:398px;
  width:270px;
  height:44px;
}
#u9_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10.b {
  position:absolute;
  left:290px;
  top:70px;
  width:990px;
  height:65px;
}
#u10_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:65px;
  background-color:#282828;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:45px;
  text-decoration:none;
  color:#CC6633;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u11.b {
}
#u13.b {
}
#u15.b {
  position:absolute;
  left:682px;
  top:260px;
  width:212px;
  height:60px;
}
#u15_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:60px;
  background-color:#666666;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:38px;
  text-decoration:none;
  color:#CC6600;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
