html {
	font-family: 'Microsoft YaHei', Helvetica, Arial, sans-serif;
	background-color: #fff;
	font-weight: 300;
}
body,ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
a,  a:visited {
	color: black;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	cursor: pointer;
}
img,p,h2{
	float: left;
}
.clr{
	clear:both;
}

/*banner部分*/
.h_nav > li{
	width: 20%;
	float:left;
	margin:1.5% 2.5% 0 2.5%;
}
.h_nav p{
	float: left;
	margin: 0 0 0 33%;
	font: 250% 'Microsoft YaHei';     
}
.h_nav img {
	width:100%;
	height:100%;	
}

/*酷站*/
.all_nav{
	float: right;
}
.all_nav li{
	float: left;
}
.nav{
	width:100%;
	background: rgb(195,50,52);
}
.parts h1{
	color: white;
	float: left;
	font-size: 250%;
	margin: 1.75% 7% 0 1%;
}
.nav a{
	color: white;
	float: left;
	font: 250%/240% 'Microsoft YaHei';
	margin-right: 15px;
}
.web img{
	margin: 1%;
}
.web p{
	font: 250%/0% 'Microsoft YaHei';
	float: left;
	margin-right: 4%;
}

/*头条*/
.part2 .nav2 .toutiao_nav .arrow{
	margin:110% 0 0 0;
}
.part2 .nav2 .toutiao_nav .refresh{
	margin:44% 0 0 0;
}
.nav2_display h2{
	width: 63%;
	height: 130px;
	float: left;
	font-size: 250%;
	margin: 4% 0 0% 4%;
}
.toutiao_display li:first-child{
	background: url(../img/hot.png) no-repeat;
}
.toutiao_display li:last-child{
	margin-bottom: 4%;
}
.nav2_display img{
	float: right;
	margin: 4% 3% 0 0;
}
.nav2_display .zan1{
	margin-left: 4%;
	background: url(../img/like.png) no-repeat;
}
.nav2_display .zan2{
	background: url(../img/dislike.png) no-repeat;
}
.nav2_display .zan1,.nav2_display .zan2{
	float: left;
	width: 10.1%;
	color: gray;
	font: 128%/200% normal 'Microsoft YaHei';   
}
.nav2_display .share{
	float: right;
}
.nav2_display .share p{
	color: gray;
	font: 128%/0% normal 'Microsoft YaHei';   
}
.nav2_display .share img{
	float: left;
	vertical-align: middle;
}

/*音乐*/
.music_nav{
	float: right;
}
.nav3 li{
	float: left;
}
.player img,.player h2{
	margin: 4%;
	font: 250%/100% normal 'Microsoft YaHei';   
}
.player audio{
	width: 500px;
	height: 30px;
}
.playerUI img{
	margin-right: 5%;
	float: right;
}

/*小说*/
.novel_list{
	margin: 4% 0 0 3%;
}
.novel_list li img{
	margin:0 0 0 5%;
}
.novel_list li{
	text-align: center;                   
	float:left;
	width: 25%;
	font: 128%/120% normal 'Microsoft YaHei';    
}

/*趣吧*/
.quba_list1{
	margin:2% 2% 0 0%;
}
.quba_list1 li{
	width: 48%;
	float: left;
	margin-left:2%;
	font: 150%/120% normal 'Microsoft YaHei';    
}
.quba_list2 li{
	width: 98%;
	padding-left: 2%;
	border-top: 1px dashed gray;
	font: 230%/100%  'Microsoft YaHei';
}

/*电影*/
.movie_list p,.movie_list h2{
	clear: both;
}
.movie_list h2{
	line-height: 50%;
}
.movie_list p{
	color: gray;
	font: 120%/0%  'Microsoft YaHei';
	margin-bottom: 8%;
/*	height:60px;
	overflow: hidden;*/               /*溢出处理失败*/
}
.movie_list li{
	width: 32%;
	margin: 1% 0 0 1%;
	float: left;
}

/*热门*/
.hot_apps li{
	float: left;
	width: 23%;
	margin:  0 0  5% 1.5%;
	font: 150%/100%  'Microsoft YaHei';
}
.hot_display .hot_apps p,.hot_display .hot_apps h2{
	width: 100%;
	clear:both;
	text-align: center;
}
.hot_display .hot_apps h2{
	font-weight: normal;
}
.hot_display p{
	color: gray;
	line-height: 0%;
	margin-bottom: 25%;
}
.hot_apps .download{
	width: 23%;
	padding: 10% 30.6%;
	/*margin: 9.5% 5.95%;*/
	color: white;
	font: 170%/100%  'Microsoft YaHei';
	background: url(../img/botton2.png) no-repeat;
	clear:both;
}

/*留言*/
.remark textarea{
	width: 96%;
	height: 300px;
	font: 200%/150%  'Microsoft YaHei';
	margin: 2% 0 0 1.8%;
}
.remark input{
	color: white;
	background: rgb(195,50,52);
	float: right;
	font: 250%/210%  'Microsoft YaHei';
	padding: 0 5%;
	margin: 1.5%;
	border-radius: 10px;
}

/*footer部分*/
.footer p{
	width: 100%;
	text-align: center;
	font: 230%/200%  'Microsoft YaHei';
	margin-top: 6%;
}